<div class="supplier_activity_page_top">
  <table>
    <tr>
      <th>体験名</th>
      <td>い</td>
    </tr>
    <tr>
      <th>日時</th>
      <td>い</td>
    </tr>
    <tr>
      <th>予約者</th>
      <td>い</td>
    </tr>
    <tr>
      <th>参加者一覧</th>
      <td>い</td>
    </tr>
  </table>
</div>

<style lang="scss">

</style>
