<div class="static_page_container">
  <div class="static_page_inner_container">
    <section class="eyecatch">
      <p>trimaについて</p>
    </section>
    <section class="about_section">
      <h5 class="about_english_title">About</h5>
      <h3 class="about_Japanese_title">trimaとは？</h3>
      <div class="about_section_contents">
        <p>あああああああああああああああああああああああああああああああああああああああああ</p>
      </div>
    </section>
  </div>
</div>
