<div class="static_page_container">
  <div class="static_page_inner_container">
    <div class="breadcrumb">
      <ul>
        <li><%=link_to 'Home', root_path %></li>
        <li>></li>
        <li>Privacy Policy</li>
      </ul>
    </div>
    <div class="static_page_heading_box">
      <h3 class="static_page_heading_title">trima Privacy Policy</h3>
      <group class="inline-radio">
        <input type="radio" id="en" name="member" checked><label id="english" for="en">English</label>
        <input type="radio" id="jp" name="member"><label id="japanese" for="jp">日本語</label>
      </group>
    </div>
    <section>
      <div class="static_page__heading_text">
        <p>
          trima Platforms, including this website ("Site"), are brought to you
          by trima ("us", "we" or "our" as the context requires). We take the privacy of our users
          ("you", "your" or "yours" as the context requires) very seriously.
          We ask that you read this Privacy Policy carefully as it contains important information about how we will collect,
           use and disclose your personal data. All abbreviations or definitions used in our <%= link_to "Terms of Service",term_of_service_en_path %> are adopted herein.
        </p>
      </div>
    </section>
    <section>
      <h4>1. This Privacy Policy</h4>
      <ul class="static_page__content_list english_list">
        <li>
          <span class="static_page_list_num">1.1</span>
          <span>"Personal data" means data about you or your household,
            as well as a combination of pieces of information that could reasonably
            allow you or your household to be identified.</span>
        </li>
        <li>
          <span class="static_page_list_num">1.2</span>
          <span>By interacting with us using your personal data, or submitting your personal data to us,
            or signing up for any products, services or activities offered by us, you acknowledge and understand to the collection,
            use and disclosure of your personal data for the purposes set forth in this Privacy Policy.</span>
        </li>
      </ul>
    </section>
    <section>
      <h4>2. Information We Collect</h4>
      <div class="static_pages_sub_section">
        <h4 class="static_pages_section_sub_title">2.1 Personal Data provided by You</h4>
        <ul class="static_page__content_list english_list">
          <li>
            <span class="static_page_list_num">2.1.1</span>
            <span>We will obtain personal data about you whenever you complete an online form. For example,
              we will obtain your personal data when you register to use a trima Platform, send us feedback,
              contact us for any reason, sign up to a service, enter a competition, or make a booking or purchase.
              We may also obtain sensitive personal data about you if it is necessary to provide you
              with the service (especially when you reserved some sorts of activity) or if you volunteer
              it during the completion of an online form. In such cases, we will use the data only
              for the purpose stated when collecting and manage it appropriately
              in accordance with this Privacy Policy.</span>
          </li>
          <li>
            <span class="static_page_list_num">2.1.2</span>
            <span>The provision of your personal data to trima Platforms is basically your choice.
              However, if you choose not to provide any personal data,
              you may not be able to use certain features of trima Platforms and/or our Services.</span>
          </li>
          <li>
            <span class="static_page_list_num">2.1.3</span>
            <span>If you give us information on behalf of someone else,
              you warrant that the other person has appointed you to act on his or her behalf and you will:</span>
          </li>
          <ul class="static_page__content_sub_list english_list">
            <li>
              <span class="static_page_list_num">(a)</span>
              <span>Notify the person of our processings of the personal data in accordance with this Privacy Policy;</span>
            </li>
            <li>
              <span class="static_page_list_num">(b)</span>
              <span>give us, if necessary, consent on his or her behalf to the processing of the personal data;</span>
            </li>
            <li>
              <span class="static_page_list_num">(c)</span>
              <span>give us, if necessary, consent to the transfer of his or her personal data abroad.</span>
            </li>
          </ul>
          <table class="static_page_table">
            <tr>
              <th>Category of Information</th>
              <th>Examples of information</th>
              <th>Purpose(s) of collection</th>
            </tr>
            <tr>
              <td>Identifiers</td>
              <td>Name, Email address, or other similar identifiers</td>
              <td>All purposes specified in Section 3.1</td>
            </tr>
            <tr>
              <td>Protected characteristics</td>
              <td>Gender, Nationality</td>
              <td>All purposes specified in Section 3.1</td>
            </tr>
            <tr>
              <td>Commercial information</td>
              <td>Services purchased, or other purchasing or consumption histories or tendencies</td>
              <td>All purposes specified in Section 3.1</td>
            </tr>
            <tr>
              <td>Financial information</td>
              <td>Credit card numbers</td>
              <td>Purposes (b), (e), (g), (i), (j), (k) in Section 3.1 </td>
            </tr>
          </table>
          <li>
            <span class="static_page_list_num hidden_num_on_list">2.1.3</span>
            <span>Additionally, we may draw inferences from any of your personal data
              that we collect to create a profile about you, which may reflect your preferences,
              characteristics, psychological trends, predispositions, behavior, attitudes,
              intelligence, abilities, and aptitudes.</span>
          </li>
        </ul>
      </div>
      <div class="static_pages_sub_section">
        <h4 class="static_pages_section_sub_title">2.2 Data automatically collected in the course of your use of the Site</h4>
        <ul class="static_page__content_list english_list">
          <li>
            <span class="static_page_list_num">2.2.1</span>
            <span>We may track your use of trima Platforms through the use of cookies and
              similar tracking technologies. For example, we may track how many times you visit,
              what pages you go to, traffic data, your computer's internet protocol address and
              the originating domain name of a user's internet service provider.
              This information helps us to build a profile of our users. On most web browsers,
              you will find a "help" section on the toolbar. Please refer to this section for
              information on how to receive notification when you are receiving a new cookie and
              how to turn cookies off. For further information on our use of cookies,
              please see our Cookies Policy.</span>
          </li>
          <table class="static_page_table">
            <tr>
              <th>Category of Information</th>
              <th>Examples of information</th>
              <th>Purpose(s) of collection</th>
            </tr>
            <tr>
              <td>Commercial information</td>
              <td>Services purchased, or other purchasing or consumption histories or tendenciess</td>
              <td>All purposes specified in Section 3.1</td>
            </tr>
            <tr>
              <td>Internet or other electronic network activity information</td>
              <td>history, or information regarding your interaction with any websites, applications, or devices associated with the Services.</td>
              <td>All purposes specified in Section 3.1</td>
            </tr>
          </table>
        </ul>
      </div>
    </section>
    <section>
      <h4>3. Our Use and Retention of Personal Data</h4>
      <ul class="static_page__content_list english_list">
        <li>
          <span class="static_page_list_num">3.1</span>
          <span>Generally, we collect personal data in order to provide our products
            and services to you, and to personalize and improve our Services
            and your user and customer experience with trima.
            Personal data collected by us may be used:</span>
        </li>
        <li class="list_item_with_no_num">
          <ul class="static_page__content_sub_list english_list">
            <li>
              <span class="static_page_list_num">(a)</span>
              <span>to provide you with service information, and news;</span>
            </li>
            <li>
              <span class="static_page_list_num">(b)</span>
              <span>to support the services offered on trima Platforms;</span>
            </li>
            <li>
              <span class="static_page_list_num">(c)</span>
              <span>to contact you for feedback about our Services;</span>
            </li>
            <li>
              <span class="static_page_list_num">(d)</span>
              <span>to conduct research about our customer base or services;</span>
            </li>
            <li>
              <span class="static_page_list_num">(e)</span>
              <span>to fulfil your reservation and purchase requests;</span>
            </li>
            <li>
              <span class="static_page_list_num">(f)</span>
              <span>to inform you of promotions, offers, surveys, events,
                products, and services, which may be of interest to you.</span>
            </li>
            <li>
              <span class="static_page_list_num">(g)</span>
              <span>to process your payments;</span>
            </li>
            <li>
              <span class="static_page_list_num">(h)</span>
              <span>to customise your online experience according to your chosen interests
                and preferences and enhance your current and future visits to trima Platforms
                or use of our Services;</span>
            </li>
            <li>
              <span class="static_page_list_num">(i)</span>
              <span>to reduce credit risk, detect and protect us against error, fraud and other criminal activity;</span>
            </li>
            <li>
              <span class="static_page_list_num">(j)</span>
              <span>to comply with law, the requests of law enforcement and regulatory officials, or orders of court; and</span>
            </li>
            <li>
              <span class="static_page_list_num">(k)</span>
              <span>to enforce our legal rights and remedies.</span>
            </li>
          </ul>
        </li>
        <li>
          <span class="static_page_list_num">3.2</span>
          <span>In the European Economic Area,
            we must have a legal basis to process your personal data.
            In most cases the legal basis will be one of the following:</span>
        </li>
        <ul class="static_page__content_sub_list english_list">
          <li>
            <span class="static_page_list_num">(a)</span>
            <span>to fulfil our contractual obligations to you, for example to provide the services,
              to ensure that invoices are paid correctly. Failure to provide this information
              may prevent or delay the fulfilment of these contractual obligations</span>
          </li>
          <li>
            <span class="static_page_list_num">(b)</span>
            <span>to comply with our legal obligations, for example obtaining proof of
              your identity to enable us to meet our anti-money laundering obligations</span>
          </li>
          <li>
            <span class="static_page_list_num">(c)</span>
            <span>to meet our legitimate interests, for example to understand how you use
              our products services and to enable us to derive knowledge from that,
              which allows us to develop new products and services.
              When we process personal data to meet our legitimate interests,
              we put in place robust safeguards to ensure that your privacy is protected and
              to ensure that our legitimate interests are not overridden by your interests or
              fundamental rights and freedoms.</span>
          </li>
        </ul>
        <li>
          <span class="static_page_list_num hidden_num_on_list">3.2</span>
          <span>We may obtain your consent to collect and use certain types of personal data
            when we are required to do so by law (for example, in relation to our direct marketing activities
            and sensitive personal data). If we ask for your consent to process your personal data,
            you may withdraw your consent at any time by contacting us using the details
            at the end of this privacy notice.</span>
        </li>
        <li>
          <span class="static_page_list_num">3.3</span>
          <span>We are not in the business of monetizing your information. There are,
            however, certain circumstances in which we may share all the categories of
            your personal data (in section 2) with certain third parties without further notice to you,
            such as the following situations:</span>
        </li>
        <ul class="static_page__content_sub_list english_list">
          <li>
            <span class="static_page_list_num">(a)</span>
            <span>If you choose to book or purchase a Host Service through trima Platforms
              and/or our Services, then we will provide share certain personal data to the applicable
              Host so that the Host may contact you. Hosts may contact you through our Services solely
              for the purpose of providing Host's Services;</span>
          </li>
          <li>
            <span class="static_page_list_num">(b)</span>
            <span>As we develop our business, we might sell or buy businesses or assets.
              In the event of a corporate sale, merger, reorganization, dissolution or similar event,
              personal data may be part of the transferred assets;</span>
          </li>
          <li>
            <span class="static_page_list_num">(c)</span>
            <span>We, like many businesses, sometimes hires other professionals or companies
              to perform certain business-related functions. Examples of such functions include mailing information,
              maintaining databases and processing payments. When we engage other organizations,
              agents or service providers to perform a function of this nature,
              we will only provide them with the information that they need to perform their specific function;</span>
          </li>
          <li>
            <span class="static_page_list_num">(d)</span>
            <span>We may disclose your personal data if required to do so by law or in case
              that it is necessary to (i) comply with a legal obligation,
              (ii) protect and defend the rights or property of trima, (iii) act in urgent circumstances to
              protect the personal safety of users of the Site or the public, or (iv) protect against legal liability.</span>
          </li>
        </ul>
        <li>
          <span class="static_page_list_num">3.4</span>
          <span>Personal data provided by you will be retained as long as the purpose
            for which the data was collected continues. We will keep your personal data
            for as long as we have a relationship with you, and for a period of 10 years thereafter.
            Thereafter, we will destroy or delete the information, or remove the means by which the data can
            be associated with you, unless its retention is required to satisfy legal, regulatory,
            accounting or other business requirements or to protect our interests.</span>
        </li>
      </ul>
    </section>
    <section>
      <h4>4. Your Rights</h4>
      <ul class="static_page__content_list english_list">
        <li>
          <span class="static_page_list_num">4.1</span>
          <span>You have certain rights regarding your personal data, subject to local law.
            You may have rights in relation to your personal data under local law,
            for example in the European Economic Area. Below is a general description of the rights
            some consumers may hold. In the event you are visiting from such a jurisdiction and would like to
            exercise one of your rights, please contact us at Personal Information Request Form or via hello@gotrima.com.
            If you use an authorized agent to exercise your rights, please ensure that you give the written permission
            to this agent. Once we receive the contact, we will verify your identity based on your personal
            data we already have at that time and any additional information we may require from you for the
            verification purpose. Please note that we may also require additional information from you in order
            to respond your request appropriately or decline your request as permitted under applicable law.
            These include the following rights to:</span>
        </li>
        <li class="list_item_with_no_num">
          <ul class="static_page__content_sub_list english_list">
            <li>
              <span class="static_page_list_num">(a)</span>
              <span>access your personal data</span>
            </li>
            <li>
              <span class="static_page_list_num">(b)</span>
              <span>rectify the data we hold about you</span>
            </li>
            <li>
              <span class="static_page_list_num">(c)</span>
              <span>erase your personal data</span>
            </li>
            <li>
              <span class="static_page_list_num">(d)</span>
              <span>restrict our use of your personal data</span>
            </li>
            <li>
              <span class="static_page_list_num">(e)</span>
              <span>object to our use of your personal data</span>
            </li>
            <li>
              <span class="static_page_list_num">(f)</span>
              <span>receive your personal data in a usable electronic format and
                transmit it to a third party (right to data portability)</span>
            </li>
            <li>
              <span class="static_page_list_num">(g)</span>
              <span>learn more about the sources from which we collect information,
                the purposes for which we collect and share information, the information we hold,
                and the categories of parties with whom we share your information;</span>
            </li>
            <li>
              <span class="static_page_list_num">(h)</span>
              <span>for California residents, opt out of certain disclosures of personal data
                that California law defines as “sales” even if no money is exchanged the sale of your information.
                The following categories of your personal data may be sold to the parties of all
                the categories specified in Section 3.3(a), (b), (c):</span>
            </li>
            <ol class="level_3_list">
              <li>・Identifiers;</li>
              <li>・Protected characteristics;</li>
              <li>・Commercial information;</li>
              <li>・Internet or other electronic network activity information;</li>
              <li>・Financial, medical, or health information;</li>
              <li>・Inferences drawn from any of the above information categories.</li>
            </ol>
            <li>
              <span class="static_page_list_num hidden_num_on_list">(h)</span>
              <span>We do not exchange your personal data for money unless you give us
                an affirmative authorization. We do not “sell” personal data of minors
                under 16 years of age without affirmative authorization.</span>
            </li>
            <li>
              <span class="static_page_list_num">(i)</span>
              <span>exercise rights without fear of being denied goods or services;</span>
            </li>
            <li>
              <span class="static_page_list_num">(j)</span>
              <span>lodge a complaint with your local data protection authority.</span>
            </li>
          </ul>
        </li>
        <li>
          <span class="static_page_list_num hidden_num_on_list">4.1</span>
          <span>If you would like to discuss or exercise such rights,
            please contact us at the details specified in the section 7. "Questions or Concerns".
            However, please note that your rights of privacy or personal data will not be absolute
            rights so we may not be responsible for accepting your requests when the law
            permits us not to do so.</span>
        </li>
        <li>
          <span class="static_page_list_num">4.2</span>
          <span>We encourage you to contact us to update or correct your information
            if it changes or if the personal data we hold about you is inaccurate.</span>
        </li>
        <li>
          <span class="static_page_list_num">4.3</span>
          <span>We will contact you if we need additional information from you in order to honour your requests.</span>
        </li>
      </ul>
    </section>
    <section>
      <h4>5. Data Security and International Transfers</h4>
      <ul class="static_page__content_list english_list">
        <li>
          <span class="static_page_list_num">5.1</span>
          <span>We take reasonable steps to protect personal data provided to us via trima Platforms from loss,
            misuse, and unauthorized access, disclosure, alteration, or destruction.
            We will use technical and organizational measures to safeguard your personal data, for example,</span>
        </li>
        <li class="list_item_with_no_num">
          <ul class="static_page__content_sub_list english_list">
            <li>
              <span class="static_page_list_num">(a)</span>
              <span>access to your account is controlled by a password and username that are unique to you;</span>
            </li>
            <li>
              <span class="static_page_list_num">(b)</span>
              <span>we store your personal data on secure servers;</span>
            </li>
            <li>
              <span class="static_page_list_num">(c)</span>
              <span>payment details are encrypted using secure sockets layer technology.</span>
            </li>
          </ul>
        </li>
        <li>
          <span class="static_page_list_num">5.2</span>
          <span>While we will use all reasonable efforts to safeguard personal data,
            you acknowledge that the use of the Internet is not entirely secure and
            for this reason we cannot guarantee the security or integrity of any personal
            data that are transferred from you or to you via the Internet.</span>
        </li>
      </ul>
    </section>
    <section>
      <h4>6. Exclusions</h4>
      <ul class="static_page__content_list english_list">
        <li>
          <span class="static_page_list_num">6.1</span>
          <span>This Privacy Policy does not apply to any personal data collected by trima
            other than Personal Data collected through trima Platforms and/or our Services.</span>
        </li>
        <li>
          <span class="static_page_list_num">6.2</span>
          <span>trima does not knowingly collect personal data directly from children
            under the legal age of their respective jurisdictions ("Minors").
            If you are a Minor, please do not submit any personal data through trima Platforms.
            We encourage parents and legal guardians to monitor their children’s Internet usage
            and to help enforce our Privacy Policy by instructing their children never to provide personal data
            on trima Platforms without their permission. If you have reason to believe that
            a Minor has provided personal data to trima through trima Platforms, please contact us,
            and we will endeavor to delete that information from our databases.</span>
        </li>
      </ul>
    </section>
    <section>
      <h4>7. Changes to the policy</h4>
      <ul class="static_page__content_list english_list">
        <li>
          <span class="static_page_list_num hidden_num_on_list">7.1</span>
          <span>We may modify or update this Policy from time to time.
            We encourage you to visit this Policy at least once per year to learn about any changes to
            the way we collect, use, or disclose your personal data. If we make a material change to this Policy,
            we will take reasonable steps to notify you, for example by posting a banner on the Services.</span>
        </li>
      </ul>
    </section>
    <section>
      <p class="static_page_last_created_date">Last Updated: 01/11/2020</p>
    </section>
  </div>
</div>
