<div class="static_page_container">
  <div class="static_page_inner_container">
    <div class="breadcrumb">
      <ul>
        <li><%=link_to 'Home', root_path %></li>
        <li>></li>
        <li>Privacy Policy</li>
      </ul>
    </div>
    <div class="static_page_heading_box">
      <h3 class="static_page_heading_title">trima プライバシーポリシー</h3>
      <group class="inline-radio">
        <input type="radio" id="en" name="member" checked><label id="english" for="en">English</label>
        <input type="radio" id="jp" name="member"><label id="japanese" for="jp">日本語</label>
      </group>
    </div>
    <section>
      <div class="static_page__heading_text">
        <p>旅行プラットフォームtrima（以下「trima」）を運営するシーダースコミュニケーションズ株式会社（以下「当社」といいます。）は、
          ユーザーの皆さまのプライバシーの保護を重要な事項と考えています。
          このtrimaプライバシーポリシー（以下「本ポリシー」といいます。）は、ユーザーの皆さまに関する情報の
          収集、利用や開示に関する当社の方針や手続などをお知らせするものです。
          trimaをご利用いただく際には、本ポリシーをよくお読みいただき、ご質問があれば当社宛にご連絡ください。
          なお、本ポリシーに用いられる用語は、本ポリシーに他に定義されたもののほかは、trima利用規約と同一の意味を持つものとします。
        </p>
      </div>

    </section>
    <section>
      <h4>1. 定義</h4>
      <div class="static_page__heading_text">
        <p>1.1 本ポリシーにおいて「個人情報」とは、個人情報の保護に関する法律（以下「個人情報保護法」といいます。）第2条第1項に定める個人情報をいいます。</p>
      </div>
    </section>
    <section>
      <h4>2. 個人情報の収集について</h4>
      <div class="static_page__heading_text">
        <p>2.1. 当社は、すべてのユーザーの皆さまにより良いサービスを提供するため、ユーザーの皆さまに関する情報を収集し、保存することがあります。
          当社が収集し、保存するユーザーの皆さまに関する情報には、以下の情報が含まれます。</p>
      </div>
      <ul class="static_page__content_list">
        <li>(1) アカウントの登録の申込手続に際してユーザーの皆さまにご入力いただいた情報：たとえば、ユーザーの皆さまのファーストネームおよびラストネーム、
          電子メールアドレス、自己紹介文、プロフィール画像、電話番号、Facebookアカウント、性別、生年月日、体験またはイベント開催場所住所と位置情報（事業者のみ）、
          パスポート番号、振込先となる金融機関口座（事業者のみ）、その他ユーザーの皆さまから登録時にご入力いただいた情報等</li>
        <li>(2) ユーザーの皆さまがtrimaのサービスを利用するにあたって当社が収集する情報：たとえば、trimaプラットフォームの利用状況に関する情報、
          ユーザーの皆さまのログ情報（IPアドレス、ブラウザやハードウェアの種類・設定等）、位置情報、端末情報（OS、端末の個体識別情報、コンピュータ名、
          広告ID、イベント情報等）等
          <br>なお、当社による事業者ie（クッキー）その他の技術の利用については、第6条をご覧ください。</li>
        <li>(3) 他のユーザーが当社に提供したユーザーの皆さまに関する情報：たとえば、他のユーザーが当社に提供したユーザーの皆さまが写った写真、
          ユーザーの皆さまに関するレビュー等</li>
        <li>(4) ユーザーの皆さまがFacebook、Instagram、Googleその他の第三者を通じてtrimaを利用する場合、
          皆さまの許諾の内容に応じて当社がこれらの第三者から提供を受け、または当社がこれらの第三者から収集する情報：たとえば、
          ユーザーの皆さまがFacebookに登録している顔写真（アイコン）、氏名、生年月日、性別に関する情報等</li>
      </ul>
      <div class="static_page__heading_text">
        <p>2.2. 当社は、ユーザーの皆さまの個人情報を適正に取得し、偽りその他不正の手段により取得しません。</p>
      </div>
    </section>
    <section>
      <h4>3. 個人情報の利用目的</h4>
      <div class="static_page__heading_text">
        <p>3.1. 当社は、ユーザーの皆さまの個人情報を、以下の目的で利用することがあります。</p>
      </div>
      <ul class="static_page__content_list">
        <li>(1) 当社によるサービスの提供のため</li>
        <li>(2) 当社のサービスに関するご案内のため</li>
        <li>(3) 当社のサービスに関するお問い合せ等への対応のため</li>
        <li>(4) 当社のサービスに係る料金等の請求処理のため</li>
        <li>(5) trima利用規約その他当社が定める規約、ガイドライン、ポリシーその他のルール（以下「本規約等」といいます。）に違反する行為への対応のため</li>
        <li>(6) 本規約等の変更を通知するため</li>
        <li>(7) 当社のサービスの改善や、新機能・新サービスの開発等に役立てるため</li>
        <li>(8) 当社のサービスまたは当社が今後提供を検討しているサービスに関するアンケート実施のため</li>
        <li>(9) 当社や第三者の商品やサービス等の広告・宣伝（ダイレクトメールの送付、電子メールの送信を含む。）のため</li>
        <li>(10) 個人を識別できない形式に加工した統計データを作成するため</li>
        <li>(11) 当社の複数のサービスから収集した情報を結び付け、新たなデータを作成するため</li>
        <li>(12) ユーザーの皆さまの本人確認を行うため</li>
        <li>(13) その他、上記利用目的に付随する目的のため</li>
      </ul>
      <div class="static_page__heading_text">
        <p>3.2. 当社は、ユーザーご本人様の同意を得ず、第3.1条に定める利用目的の達成に必要な範囲を超えて、
          個人情報を取り扱うことはありません。ただし、個人情報保護法第16条第3項に定める次の場合はこの限りではありません。</p>
      </div>
      <ul class="static_page__content_list">
        <li>(1) 法令に基づく場合</li>
        <li>(2) 人の生命、身体または財産の保護のために必要がある場合であって、ユーザーご本人様の同意を得ることが困難であるとき。</li>
        <li>(3) 公衆衛生の向上または児童の健全な育成の推進のために特に必要がある場合であって、ユーザーご本人様の同意を得ることが困難であるとき。</li>
        <li>(4) 国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して
          協力する必要がある場合であって、ユーザーご本人様の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき</li>
      </ul>
      <div class="static_page__heading_text">
        <p>3.3. 当社は、個人情報の利用目的を、第9条の定めに従い、変更前の利用目的と関連性を有すると合理的に認められる範囲内において変更することがあります。</p>
      </div>
    </section>
    <section>
      <h4>4. ユーザーによる個人情報の提供の指示</h4>
      <div class="static_page__heading_text">
        <p>4.1. ユーザーの皆さまが事業者として、trimaに体験またはイベントの予約受付を登録する場合、
          事業者は、ユーザーによる体験またはイベントの予約のリクエストのために必要な情報を提供するため、
          以下の情報その他の当社が保有する事業者の情報をtrimaのウェブページおよびFacebookその他の第三者のウェブページに掲載し、
          また予約リクエストが承認されたユーザーに共有することを当社に指示するものとします。なお、(6)ないし(9)の情報は、プライバシー性が高い情報ですので、
          合理的な期間に限定して予約リクエストが承認されたユーザーのみに共有することにつき了承するものとします。</p>
      </div>
      <ul class="static_page__content_list">
        <li>(1) 自己紹介文</li>
        <li>(2) 体験またはイベントの開催実績</li>
        <li>(3) プロフィール画像</li>
        <li>(4) これまでにユーザーから受けたレビュー</li>
        <li>(5) これまでにブランドから受けたサポートの実績</li>
        <li>(6) 姓名</li>
        <li>(7) 体験またはイベントの開催住所</li>
        <li>(8) 電話番号</li>
        <li>(9) 電子メールアドレス</li>
        <li>(10) その他当社がtrimaのウェブページへの掲載やユーザーへの共有をご提案する情報</li>
      </ul>
      <div class="static_page__heading_text">
        <p>4.2. ユーザーの皆さまがユーザーとして、trimaのサイト上で、体験またはイベントの予約受付に対して予約リクエストをする場合、
          ユーザーは、当社がユーザーのファーストネームおよびラストネーム、自己紹介文およびプロフィール画像その他の当社が保有する
          ユーザーの情報をtrimaのウェブページに掲載し、また体験またはイベントの予約受付を行った事業者に共有することを当社に指示するものとします。</p>
      </div>
      <div class="static_page__heading_text">
        <p>4.3. 事業者の皆さまが、trimaのサイト上で、体験サービスや宿泊サービス、食事を提供する場合は、
          事業者は、ファーストネームおよびラストネーム、自己紹介文およびプロフィール画像その他の当社が保有する
          事業者の情報をtrimaのウェブページに掲載し、ユーザーに共有することを当社に指示するものとします。</p>
      </div>
    </section>
    <section>
      <h4>5. 第三者に対する個人情報の提供</h4>
      <div class="static_page__heading_text">
        <p>5.1. 当社は、以下に定める場合または個人情報保護法その他の法令に基づき開示が認められる場合を除き、
          あらかじめユーザーご本人の同意を得ないで、個人情報を第三者に提供しません。</p>
      </div>
      <ul class="static_page__content_list">
        <li>(1) ユーザーご本人が支払者または支払受領者となる当社のサービスに関連した金員の支払いに関する決済を行うため、
          金融機関、クレジットカード会社、回収代行業者その他の決済またはその代行を行う事業者に個人情報を開示する場合</li>
        <li>(2) ユーザーの皆さまが本規約等に違反し、当社の権利、財産やサービス等を保護するために、個人情報を公開せざるをえないと判断する十分な根拠がある場合</li>
        <li>(3) 当社に対して秘密保持義務を負う者に対して開示する場合</li>
        <li>(4) 当社の株式の譲渡、合併等の組織再編行為、事業譲渡その他これらに類する取引に先立って行われる買収監査や交渉、取引の実行に際して開示する場合</li>
      </ul>
    </section>
    <section>
      <h4>6. 事業者ie（クッキー）その他の技術の利用</h4>
      <div class="static_page__heading_text">
        <p>6.1 当社のサービスは、事業者ieおよびこれに類する技術を利用することがあります。
          これらの技術は、当社による当社のサービスの利用状況等の把握に役立ち、サービスの品質を向上させるために用いられます。</p>
      </div>
      <div class="static_page__heading_text">
        <p>6.2. 事業者ieを無効化されたいユーザーの皆さまは、ウェブブラウザの設定を変更することにより事業者ieを無効化することができます。
          ただし、事業者ieを無効化すると、当社のサービスの一部の機能をご利用いただけなくなる場合があります。</p>
      </div>
    </section>
    <section>
      <h4>7. 個人情報の取扱いの委託</h4>
      <div class="static_page__heading_text">
        <p>7.1. 当社は利用目的の達成に必要な範囲内において、ユーザーの皆さまから取得した個人情報の全部または一部の取扱いを外部に委託することがあります。
          その際、当社は、委託先としての適格性を十分審査するとともに、この委託先が当社に対して負担する守秘義務に関する事項等を合意し、
          情報が適正に管理される体制作りを行うよう努めます。</p>
      </div>
    </section>
    <section>
      <h4>8. ユーザーの皆さまの権利</h4>
      <div class="static_page__heading_text">
        <p>8.1. 当社は、ユーザーの皆さまから、個人情報の開示を求められたときは、ご本人からの請求であることを確認の上で、
          ご本人に対し開示を行います（該当する個人情報がないときにはその旨を通知いたします。）。
          ただし、個人情報保護法その他の法令により、当社が開示の義務を負わない場合は、この限りではありません。
          なお、個人情報の開示につきましては、手数料（1件あたり1000円（税別））を頂戴しておりますので、あらかじめ御了承ください。</p>
      </div>
      <div class="static_page__heading_text">
        <p>8.2. 当社は、ユーザーの皆さまから、個人情報が真実でないという理由によって、個人情報保護法の定めに基づきその内容の訂正、
          追加または削除（以下「訂正等」といいます。）を求められた場合には、ご本人からの請求であることを確認の上で、
          利用目的の達成に必要な範囲内において必要な調査を行い、その結果に基づき、個人情報の内容の訂正等を行い、
          その旨をご本人に通知します（訂正等を行わない旨の決定をしたときは、ご本人に対しその旨を通知いたします。）。
          ただし、個人情報保護法その他の法令により、当社が訂正等の義務を負わない場合は、この限りではありません。</p>
      </div>
      <div class="static_page__heading_text">
        <p>8.3. 当社は、ユーザーの皆さまから、ご本人の個人情報が、あらかじめ公表された利用目的の範囲を超えて
          取り扱われているという理由または偽りその他不正の手段により取得されたものであるという理由により、個人情報保護法の定めに基づき
          その利用の停止または消去（以下「利用停止等」といいます。）を求められた場合において、その請求に理由があることが判明した場合には、
          ご本人からの請求であることを確認の上で個人情報の利用停止等を行い、その旨をご本人に通知します。
          ただし、個人情報保護法その他の法令により、当社が利用停止等の義務を負わない場合は、この限りではありません。</p>
      </div>
    </section>
    <section>
      <h4>9. 本ポリシーの変更</h4>
      <div class="static_page__heading_text">
        <p>9.1. 当社は、本ポリシーを、随時その裁量によって変更または修正することができるものとします。
          当社は、本ポリシーを変更または修正する場合、この変更または修正が軽微なものや形式的なものである場合を除き、
          trimaのウェブサイト等を通じて、変更または修正後の規約の適用開始日を定めて事前にその内容をユーザーの皆さまに告知します。</p>
      </div>
      <div class="static_page__heading_text">
        <p>9.2. 前項に定める変更または修正後の本ポリシーの効力は、当社が別途定める場合を除いて、適用開始日から効力を生じるものとします。</p>
      </div>
      <div class="static_page__heading_text">
        <p>9.3. ユーザーの皆さまは、本ポリシーの変更または修正後の本ポリシーが効力を生じた後もtrimaを継続使用することにより、
          当該変更または修正後の本ポリシーに同意したとみなされることに同意します。</p>
      </div>
    </section>
    <section>
      <p class="static_page_last_created_date">最終更新日：2020年11月15日</p>
    </section>
  </div>
</div>


<style>
  .static_page_container {
    width: 100vw;
    display: flex;
    justify-content: center;
    color: #514745;
  }

  .static_page_inner_container {
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding: 40px 30px 80px;
  }
  .static_page_inner_container a {
    color: #0099CC;
  }

  .breadcrumb ul {
    display: flex;
    margin: 10px 0 0px;
  }
  .breadcrumb ul li {
    margin-right: 10px;
  }
  .static_page_heading_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  h3.static_page_heading_title {
    font-size: 24px;
  }
  .inline-radio {
    display: flex;
    width: 160px;
    height: 25px;
    /* border-radius: 3px;
    overflow: hidden;
    border: 1px solid #b6b6b6; */
  }
  .inline-radio input {
    display: none;
}
  .inline-radio label {
    background: #eee;
    padding: 3px 12px;
    font-size: 13px;
    width: 50%;
    text-align: center;
  }
  label#english {
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
  }
  label#japanese {
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
  }
  input:checked + label {
    background: #0b9bcc;
    font-weight: 500;
    color: #fff;
  }
  .static_page_inner_container section {
    margin-bottom: 30px;
  }
  .static_page_inner_container section h4 {
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 0px;
  }
  ul.static_page__content_list {
    padding-left: 30px;
  }
  p, li {
    font-size: 13px;
  }
  p.static_page_last_created_date {
    text-align: end;
  }
</style>
