<div class="static_page_container">
  <div class="static_page_inner_container">
    <div class="breadcrumb">
      <ul>
        <li><%=link_to 'Home', root_path %></li>
        <li>></li>
        <li>trima 事業者利用規約</li>
      </ul>
    </div>
    <h3 class="static_page_heading_title">trima 事業者利用規約</h3>
    <section>
      <div class="static_page__heading_text">
        <p>
          この事業者利用規約（以下「本規約」といいます。）は、シーダースコミュニケーションズ株式会社（以下「当社」といいます。）と、
          当社が運営する旅行プラットフォームWebサイト「trima（トリマ）」（以下「trima」といいます。）を利用する方との間で、
          「trima」上で当社が提供する各種サービス（以下「本サービス」といいます。）の利用またはサービスの提供に関する条件を定めるものです。
          「trima」をご利用いただく前に、本規約を必ずご確認ください。
          なお、本規約に用いられる用語は、本規約に他に定義されたもののほかは、trimaプライバシーポリシーと同一の意味を持つものとします
        </p>
      </div>
    </section>
    <section>
      <h4>第1章　基本規定</h4><!--***************************************** -->
      <ul class="static_page__heading_text">
        <p>
          本章の規定は、「trima」においてアクティビティ、飲食サービス、宿泊サービス、交通サービスを提供する事業者（会員登録の有無にかかわらず、以下、「事業者」といいます。）に適用されるものです。
        </p>
      </ul>
      <h5>第1.1条　（利用規約について）</h5><!--***************************************** -->
      <ul class="static_page__heading_text_list">
        <li>事業者は、本サービス（第1.2条第1号で定義します。）を利用することにより、本規約の内容について同意したものとみなされます。</li>
        <li>事業者は、本規約のほか、当社が定める各種の規定（以下、「個別規定」といいます。）に同意し、
          trimaにおいてサービスを提供するものとします。なお、本規約は全体に共通する利用規約（以下、「共通利用規約」）の一部を構成し、本規約と共通利用規約の定めが異なる場合には、
          本規約の定めが優先するものとします。</li>
        <li>本規約については、事業者に対する事前の通知なく、当社の判断により、いつでも任意に変更ができるものとします。
          本規約が変更された場合、当社が別途定める場合を除き、本サービス上に表示した時点により効力を生じるものとします。
          事業者が、本規約の変更後に本サービスを利用する場合、本規約の変更に同意したとみなされ、変更後の本規約が適用されるものとします。</li>
      </ul>
      <h5>第1.2条　（用語の定義について）</h5><!--***************************************** -->
      <ul class="static_page__heading_text_list">
        <p>本規約において使用する用語の意義は、次の各号に定めるとおりとします。</p>
        <li>「本サービス」とは、当社が「trima」を通じて提供する以下のサービスの総称をいいます。</li>
      </ul>
      <ul class="static_page__content_list">
        <li>アクティビティ予約サービス</li>
        <li>アクティビティ予約サービスは、Web上でアクティビティの予約申込を行うことができるプラットフォームサービスです。
          当社は、事業者に対し、アクティビティ情報の提供、予約申込の事業者への伝達、アクティビティ料金等の決済手段の提供を行います。</li>
      </ul>
      <ul class="static_page__heading_text_list">
        <li>「アクティビティ」とは、事業者が提供する体験型アクティビティプログラムその他の予約申込が必要な役務をいいます。</li>
        <li>「アクティビティ情報」とは、アクティビティの内容、期間、日時、場所、利用料金等、注意事項、キャンセル条件を含む、
          事業者が提供するアクティビティに関する文字、画像その他一切の情報をいいます。</li>
        <li>「アクティビティ料金等」とは、アクティビティの利用料金及びこれに対する税金その他アクティビティの予約申込みに
          必要な費用をいいます。</li>
        <li>「事業者」とは、当社と契約のうえ、「trima」にアクティビティ情報を掲載する法人又は個人をいいます。</li>
        <li>「登録情報」とは、メールアドレス、ID、パスワード、氏名、生年月日、性別、住所など事業者が当社に提供する情報をいいます。</li>
        <li>「ユーザー」とは、旅行サービスを利用する消費者として本規約で定めたユーザー登録手続を行った個人のうち、当社がユーザーとして承認した方をいいます。</li>
        <li>「コンテンツ」とは、文章、画像、映像、ソフトウェアなど一切の情報をいいます。</li>
      </ul>
      <h5>第1.3条　（本サービスの利用条件について）</h5><!--***************************************** -->
      <ul class="static_page__heading_text_list">
        <li>本サービスの利用を希望する者は、自らの意思及び責任をもって、本規約の内容に同意したうえで、本サービスを利用するものとします。</li>
        <li>本サービスを利用してアクティビティの予約申込み又はチケットの購入を希望する事業者は、
          当社指定の会員登録手続を行うものとします。ただし、当社は、事業者が過去に本規約に違反した者である場合、
          本規約に違反するおそれがあると当社が判断する場合、その他当社が不適切と判断した場合については、会員登録を承諾しないことがあります。</li>
        <li>事業者が本サービスの利用にあたり、登録情報その他の情報を提供する場合は、自身の情報として真実かつ正確な最新の情報を提供するものとします。
          また、会員は、登録情報について、自己の責任の下、任意に変更、追加その他の管理をするものとします。
          当社は、本項の規定の違反により生じた、損害又は費用（精神的苦痛又は逸失利益その他の金銭的損失を含む一切の不利益、
          合理的な弁護士費用を含み、以下本規約において「損害」といいます。）について、一切の責任を負わないものとします。</li>
      </ul>
      <h5>第1.4条　（本サービスの変更等）</h5><!--***************************************** -->
      <ul class="static_page__heading_text_list">
        <li>当社は、本サービスの全部又は一部をいつでも任意の理由で変更、追加、中断、
          終了（以下、本条において「変更等」といいます。）することができます。</li>
        <li>当社は、本サービスの変更等により事業者に生じたいかなる損害についても、一切の責任を負わないものとします。</li>
      </ul>
      <h5>第1.5条　（事業者参加条件について）</h5><!--***************************************** -->
      <ul class="static_page__heading_text_list">
        <p>本サービスに参加できる事業者は以下の条件を満たすものとします</p>
        <ul class="static_page__content_list list_with_num">
          <li>日本国内にて法人または個人事業主の届出が済んでいること</li>
          <li>事業所が日本国内に所在していること</li>
          <li>日本国内において旅行サービスの提供を行う事業を所有していること</li>
          <li>アクティビティの提供に必要な権利、能力、許認可等を有していること</li>
          <li class="red">参加するユーザーが体験中に怪我や事故などに遭った場合に備え、事業者として保険に加入していること</li>
          <li class="red">事業者として加入している保険の証書を当社に提出可能であること</li>
          <li>事業者として加入している保険がアクティビティ提供日時から1ヶ月以上先まで有効であること</li>
          <li> 個人である場合において、申込者が未成年、成年被後見人、非保佐人または被補助人のいずれかであり、法定代理人、後見人、保佐人または補助人の同意等を得ていない場合。</li>
          <li> 弊社に提供された情報の全部または一部について、虚偽、誤りまたは記載漏れがある場合。</li>
          <li> 本サービスについて、サービス利用停止措置を受けておらず、または現在受けていないいる場合。</li>
          <li> 過去に、本規約その他弊社との間で締結した契約上の義務の履行を怠ったことがある場合、その他本規約上の義務の履行を怠るおそれがあると弊社が判断する場合。</li>
          <li> 反社会的勢力等であるか、または資金提供その他を通じて反社会的勢力等の維持、運営もしくは経営に協力もしくは関与する等、反社会的勢力等との何らかの交流もしくは関与を行っていると弊社が判断する場合。</li>
          <li> 既に本サービスの事業者となっている場合。</li>
          <li> 第三者に利用させる目的で事業者となろうとする場合。</li>
          <li> その他弊社が適当ではないと判断する場合。</li>
        </ul>
      </ul>
      <h5>第1.6条　（アクティビティの掲載について）</h5><!--***************************************** -->
      <ul class="static_page__heading_text_list">
        <p>事業者は、弊社に対し、以下の各号に定める条件を満たす限り、アクティビティの登録を申し込むことができます。この場合、事業者は、事業者ページに、アクティビティに関する事項を記載し、登録を申込みます。</p>
        <ul class="static_page__content_list list_with_num">
          <li>アクティビティが日本国内で実施されるものであること</li>
          <li>弊社は、前項の申込みがあった場合、事業者ページの内容を確認し、登録を許可するかどうかを審査します。弊社が審査基準を満たしていると判断した場合、事業者ページの登録は許可され、本サイトに掲載されます。なお、弊社が登録を拒否する場合も、事業者は、これに対して異議を述べたり、法的権利を主張することはできません。また、弊社は、登録を拒否した理由について開示する義務を負いません。</li>
          <li>事業者は、掲載されている事業者ページの内容を変更することができ、また、事業者ページの内容が現状と異なる場合は、事業者ページの内容を現状に合うように変更しなければならないものとします。ただし、事業者ページに登録した内容について既にユーザーの予約が入っている場合は内容の変更ができないものとします。
          事業者ページの内容と現状が異なるにもかかわらず、事業者ページに登録した内容について既にユーザーの予約が入っており、その内容の変更ができない場合、事業者は、予約したユーザーに対し、事業者ページの内容と現状が異なることを連絡するものとします。</li>
          <li>事業者は、弊社が事前に承諾した場合を除き、ユーザーが利用可能な日時として事業者ページに登録されている日時において、trimaを通してサービスを提供することはできないものとします。なお、事業者がこれに反した結果、ユーザーとの間に紛争が生じた場合、その責任は事業者が負うものとし、弊社は一切の責任を負いません。</li>
        </ul>
      </ul>
      <h5>第1.7条　（予約について）</h5><!--***************************************** -->
      <ul class="static_page__heading_text_list">
        <li>事業者は、第1.6条第2項によって登録された事業者ページが本サイトに掲載されることにより、利用を希望するユーザーの募集を行います。この場合、事業者は、不当表示防止法およびその他関係法令を遵守しなければなりません。</li>
        <li>ユーザーが、事業者ページに掲載されたアクティビティを弊社が指定する方法で申込み、決済方法の登録が完了した時点で、当該ユーザーと当該事業者との間でアクティビティサービスの提供に関する契約が成立することになります。なお、事業者が本サービスを利用してユーザーを募集し、ユーザーに対してアクティビティサービスの提供を行う場合、アクティビティサービスの提供に関する契約の当事者は、事業者とユーザーであって、弊社は契約当事者とはなりません。</li>
      </ul>
      <h5>第1.8条　（ユーザーによる予約の変更・キャンセル）</h5><!--***************************************** -->
      <ul class="static_page__heading_text_list">
        <li>ユーザーが、事業者との間で予約した利用予定日時を変更または予約をキャンセル（以下「キャンセル等」といいます。）する場合、キャンセル等がなされた日による以下の各号の区分に従い、キャンセル料が発生します。</li>
        <ul class="static_page__content_list list_with_num">
          <p class="static_page_content_minimum_title">1.「前日までキャンセル無料」を選択した事業者の場合</p>
          <p class="static_page_content_body_of_minimum_title">・ユーザーがアクティビティが実施される日付の前日24時より前にキャンセルした場合はキャンセル料は発生せず、事業者にはいかなる場合であってもキャンセル料は支払われないものとします。</p>
          <p class="static_page_content_body_of_minimum_title">・ユーザーがアクティビティが実施される日付の前日24時より後にキャンセルした場合は100%のキャンセル料が発生し、事業者には手数料を差し引いたキャンセル料が支払われるものとします。</p>
          <p class="static_page_content_minimum_title">2.「３日前までキャンセル無料」を選択した事業者の場合</p>
          <p class="static_page_content_body_of_minimum_title">・ユーザーがアクティビティが実施される日付の３日前の24時より前にキャンセルした場合はキャンセル料は発生せず、事業者にはいかなる場合であってもキャンセル料は支払われないものとします。</p>
          <p class="static_page_content_body_of_minimum_title">・ユーザーがアクティビティが実施される日付の３日前の24時より後にキャンセルした場合は100%のキャンセル料が発生し、事業者には手数料を差し引いたキャンセル料が支払われるものとします。</p>
          <p class="static_page_content_minimum_title">3.「１週間前までキャンセル無料」を選択した事業者の場合</p>
          <p class="static_page_content_body_of_minimum_title">・ユーザーがアクティビティが実施される日付の１週間前の24時より前にキャンセルした場合はキャンセル料は発生せず、事業者にはいかなる場合であってもキャンセル料は支払われないものとします。</p>
          <p class="static_page_content_body_of_minimum_title">・ユーザーがアクティビティが実施される日付の１週間前の24時より後にキャンセルした場合は100%のキャンセル料が発生し、事業者には手数料を差し引いたキャンセル料が支払われるものとします。</p>
        </ul>
        <li>上記に従い、ユーザーの都合でキャンセル料が発生する場合、事業者には本来受け取るべき手数料差し引き後のアクティビティ費用を報酬として受け取れるものとします。</li>
        <li>ユーザーが、事業者との間で予約した利用予定日時になんの連絡もなくアクティビティもしくはその両方を利用しなかった場合、ユーザーは予約をキャンセルしたものとし、利用・体験料の全額に相当する額のキャンセル料が発生します。</li>
        <li> 事業者が旅行体験を提供する際に、天候等の事業者の責に帰さない理由により、予約したユーザーに対して当該アクティビティの提供ができないことが予測される場合、事業者は、利用予定日時の４時間前までに、事業者ページに記載された手続に従って、当該予約をキャンセルできるものとします。事業者が、利用予定日時の４時間前までに上記のキャンセルをせずに当該旅行体験の提供を行わない場合は、前項に定める自己都合によるキャンセルをしたものとみなします。</li>
      </ul>
      <h5 class="red">第1.9条　（事業者による予約の変更・キャンセル）</h5><!--***************************************** -->
      <ul class="static_page__heading_text_list">
        <li>事業者が、ユーザーから受けた予約の利用予定日時を変更または予約をキャンセル（以下「事業者によるキャンセル等」といいます。）する場合、事業者は以下の場合を除いて事業者によるキャンセル等が生じさせる損害の責任（返金を含む）を負うものとします。</li>
        <ul class="static_page__content_list list_with_num">
          <li>アクティビティが実施できないと判断される悪天候の場合</li>
          <li>地震、火事、山火事、火山の噴火などの自然災害によりアクティビティ実施場所に危険が及ぶ場合</li>
          <li>紛争、暴動などの人為的災害によりアクティビティ実施場所に危険が及ぶ場合</li>
          <li>その他第三者が引き起こす事故・犯罪等によりアクティビティが実施できない状況にある場合</li>
        </ul>
        <li>上記の不可抗力とみなされない理由で事業者によるキャンセル等が行われる場合、ユーザーが支払ったアクテビティ費用は全額返金されなければならない。</li>
        <li>事業者によるキャンセル等を含め、事業者が予約したユーザーに対して当該アクティビティの提供ができないことが判明した場合、事業者は利用予定日時の4時間前までにユーザーに連絡しなければならない。ただし事業者が災害等に巻き込まれるなどユーザーへの連絡が不可能な場合はその限りではない。</li>
        <li>事業者が、利用予定日時の４時間前までに上記のキャンセルをせずに当該旅行体験の提供を行わない場合は、前項に定める自己都合によるキャンセルをしたものとみなします。</li>
        <li>悪天候や自然災害、人為的災害等、不可抗力とみなされるアクティビティの中止またはキャンセルの判断については、ユーザーの了承を得られる場合に限り事業者の判断に委ねられるものとします。</li>
        <li>ただしユーザーから抗議があるなどユーザーと事業者との間で事業者によるキャンセル等に関して紛争が起きた場合は、当社がキャンセル発生に至った状況を調査を実施した上で、事業者の責任の有無を判断するものとし、事業者はその判断に従わなければならない。当社の判断に異議・申し立てがある場合は協議の上解決するものとします。</li>
      </ul>
      <h5>第1.10条　（事業者の責任）</h5><!--***************************************** -->
      <ul class="static_page__heading_text_list">
        <li>事業者は、ユーザーが予約を行う際に信頼したアクティビティの表現および説明に従って、アクティビティを提供するものとします。</li>
        <li>ユーザーがあなたが提供するアクティビティを予約した後は、公表されている価格よりも高い価格を支払うようにユーザーに要求することはできません。アクティビティを提供するために必要なすべての費用は事業者が負担するものとし、かかる費用および費用の増加はユーザーまたはtrimaに請求されないものとします。</li>
        <li>さらに、あなたは、あなたが投稿するリスト、およびアクティビティの予約または提供が、（i）第三者と締結した契約に違反せず、（ii）適用されるすべての法律を遵守することを表明および保証します。そのようなアクティビティが提供される場所、税金要件、およびその他の規則と規制（必要なすべての許可、ライセンス、および登録を含む）。事業者として、あなたはあなた自身の作為と不作為に責任があります。</li>
        <li>アクティビティを一覧表示する場合は、該当する場合、（i）アクティビティに固有のリスク、（ii）最低年齢、関連スキルなどの参加要件について、ユーザーに十分に教育し、通知する必要があります。フィットネスまたはその他の要件のレベル、および（iii）アクティビティに安全に参加するために知っておく必要のあるその他の事項（ドレスコード、機器、特別な認定またはライセンスなどを含む）。</li>
        <li>アクティビティを直接提供する必要があり、事前の許可がない限り、第三者がアクティビティを提供することを許可することはできません。アクティビティのパフォーマンスの全部または一部をサードパーティ（当社が指定するサードパーティを含む）にアウトソーシングする場合は、サードパーティの名前と情報、およびサービスをアウトソーシングする理由を当社に通知し、取得する必要があります。私たちの裁量による承認。</li>
        <li>アクティビティに適切な保険に加入することをお勧めします。それぞれの保険契約を注意深く確認してください。特に、保険契約がそうなるかどうかを含むがこれに限定されない、そのような保険契約の除外および適用される可能性のある控除額をよく理解していることを確認してください。アクティビティへの参加中またはアクティビティの使用中のユーザー（および該当する場合はユーザーが予約した個人）の行動または不作為をカバーします。</li>
        <li>ユーザー予約を履行できない場合は、ただちに通知するものとします。ユーザー予約を履行しなかったために関連するユーザーに返金が発生した場合、そのような返金は事業者の責任となります。</li>
        <li>ユーザーからのアクティビティに関する苦情は、すみやかにお知らせください。</li>
        <li>事業者が提供するアクティビティにチケットや商品の販売などの金銭取引が含まれる場合は、事前に通知する必要があります。</li>
        <li class="red">事業者とアクティビティを予約したユーザーとの間で紛争が起きた場合、その原因がtrimaのシステムが生じさせるものでない限りは、事業者は紛争の解決に責任を負うものとします。</li>
        <li class="red">事業者とアクティビティを予約したユーザーとの間で紛争が起き、法的機関や弁護士等を利用し発生した費用は事業者が負うものとします。</li>
      </ul>
      <h5>第1.11条　（事業者が提供するサービスの価格について）</h5><!--***************************************** -->
      <ul class="static_page__heading_text_list">
        <li>trimaで事業者が提供するアクティビティの価格（以下、「アクティビティ価格」という）は、ユーザーにリストを公開する前に、事業者とtrimaの間で合意されるものとします。trimaは、trimaのプロバイダーとして事業者に支払うべき料金（「事業者料金」）を請求するものとします。</li>
        <li>trimaで提供されるアクティビティと同じまたは類似の製品またはサービスについて、独自のWebサイトまたは他のオンラインプラットフォームでオンラインプレゼンスを維持する場合、事業者は当社に最低価格を提供することに同意するものとします。</li>
        <li>アクティビティの特定の追加オプションを利用するためにユーザーが負担する可能性のある追加費用は、リストに指定するか、ユーザーが支払う価格にそのようなオプションが含まれていないことを事前にユーザーに通知する必要があります。</li>
      </ul>
      <h5 class="red">↓以下はダウンロード規約に載せてWEB規約からは削除*************************************************</h5>
      <h5>第1.12条　（掲載料および手数料について）</h5><!--***************************************** -->
      <ul class="static_page__heading_text_list">
        <li class="red">事業者がtrimaで提供するアクティビティの売り上げ（以下、「アクティビティ売り上げ」という）（消費税込み）のうち、当社はその15%を差し引き事業者に支払うものとします。</li>
        <li>trimaにアクティビティまたは有償のサービスを掲載する費用については発生しないものとします。</li>
        <li>事業者がtrimaで提供するアクティビティまたは有償のサービスの手数料については当社の都合で変更される場合があり、変更される場合は変更する日付の1ヶ月より前に事業者に通知するものとします。</li>
      </ul>
      <h5>第1.13条　（月間事業者売上高および事業者報酬額）</h5><!--***************************************** -->
      <ul class="static_page__heading_text_list">
        <li class="red">アクティビティ売り上げは、弊社のサーバ上のデータをもとに算出され、アクティビティが実施された日の属する月の末日（以下「締め日」といいます。）に確定するものとします。</li>
        <li>アクティビティ売り上げのうち、月の1日から月の末日までに実施されたサービスおよびアクティビティに対する利用・体験料を合算し手数料を差し引いた総額を月間事業者売上高といいます。</li>
        <li>アクティビティのうち、実施期間がその月の末日23時59分をまたぎ、翌月1日にかかる場合、アクティビティ売り上げは実施開始日時が属する月の月間事業者売上高に算出されるものとします。</li>
        <li>キャンセル料および違約金その他の費用は、キャンセルまたは違約金その他の費用が発生した利用予定日の属する月の月間事業者売上高に含まれます。</li>
        <li>ユーザーが予約をした利用時間または利用日数を超過して使用した場合、弊社は、当該利用時間または日数について、正当に予約した上で利用された場合の金額として算出し、月間事業者売上高に計上します。</li>
      </ul>
      <h5>第1.14条　（事業者報酬額の支払方法）</h5><!--***************************************** -->
      <ul class="static_page__heading_text_list">
        <li>弊社は事業者に対し、前条第1.12条および第1.13条に定めた事業者報酬額（消費税込）を支払います。</li>
        <li class="red">弊社は、前条第1.13条に定めた月間事業者売上高を月ごとに算出し、締め日の翌月末（月末が土日休日の場合はその翌営業日）に事業者が予め弊社に対して指定した事業者の銀行口座に、事業者報酬額（消費税込）を振込むものとします。なお、振込手数料は事業者の負担とします。</li>
      </ul>
      <h5 class="red">↑↑↑↑↑↑↑↑↑↑↑↑↑以下はダウンロード規約に載せてWEB規約からは削除*************************************************</h5>
      <h5>第1.15条　（禁止事項）</h5><!--***************************************** -->
      <ul class="static_page__heading_text_list">
        <li>事業者が、不適切に事業者報酬額（消費税込）を得ることを目的として、アクティビティの提供を行ったと弊社が判断した場合は、弊社が事業者報酬額（消費税込）を支払わない、または事業者は弊社へ事業者報酬額（消費税込）を返金するものとします。</li>
        <li>事業者が個人の場合、その収入額に応じて確定申告が必要となる場合があり、現状から変更される可能性がありますが、これらの対応については、事業者が自らの責任で行うものとし、弊社は関与しないものとします。事業者は、税理士または最寄りの税務署等に確認するなどして、自ら申告・納税手続等を行うものとします。</li>
      </ul>
      <h5>第1.16条　（保守作業等による本サービス運営の一時的な停止）</h5><!--***************************************** -->
      <ul class="static_page__heading_text_list">
        <li>当社は、次の各号に該当する場合、事業者への事前の通知や承諾なしに、本サービスの一時的な運営の停止を行うことがあり、事業者はこれを予め承諾します。</li>
        <ul class="static_page__content_list list_with_num">
          <li>本サービスにかかるサーバーの保守又は本サービスについて仕様変更もしくはシステムの瑕疵の修補等を行う場合</li>
          <li>天災地変その他非常事態が発生しもしくは発生するおそれがあり又は法令等の改正・成立により本 サービスの運営が困難又は不可能になった場合</li>
          <li>その他当社がやむを得ない事由により本サービスの運営上一時的な停止が必要と判断した場合</li>
        </ul>
        <li>前項に定める本サービスの一時的な運営の停止により、事業者が本サービスを利用できない場合であっても、当社は、何らの責任も負わないものとします。</li>
      </ul>
      <h5>第1.17条　（守秘義務）</h5><!--***************************************** -->
      <ul class="static_page__heading_text_list">
        <li>事業者は、本サービスに関連して当社が事業者に対して秘密に取り扱うことを求めて開示した非公知の情報について、当社の事前の書面による承諾がある場合を除き、秘密に取り扱うものとし、第三者に開示することはできないものとします。</li>
        <li>守秘義務が遵守されない場合は事業者登録を解除できるものとします。</li>
        <li>事業者が守秘義務を遵守せずに当社またはtrimaの情報を漏洩し当社が損害を被った場合、その責任は事業者にあるものとし、事業者には損害をすべて補償する義務があるものとします。</li>
      </ul>
      <h5>第1.18条　（本契約の終了）</h5><!--***************************************** -->
      <ul class="static_page__heading_text_list">
        <li>本契約は事業者が解約を申し出た時点、またはtrimaのサービスが終了する時点を持って終了するものとします。</li>
      </ul>
      <h5>第1.19条　（知的財産）</h5><!--***************************************** -->
      <ul class="static_page__heading_text_list">
        <li>事業者が本サービスに投稿又は送信したコンテンツに著作権等の知的財産権が発生する場合、事業者は、権利の存続期間が満了するまでの間、本サービスの宣伝、プロモーション、本サービスの改良、メンテナンス等に必要な範囲内で当社が当該コンテンツを無償で利用（複製、上映、公衆送信、頒布、譲渡、貸与、翻訳、翻案等を含みますが、これに限られません。以下本条において同じ。）することを許諾するものとします。事業者は、本項に基づく当社又は当社が許諾する第三者による当該コンテンツの利用について、著作者人格権を行使しないものとします。</li>
        <li>前項に定める場合を除いて、trimaに含まれるアクティビティ等に関する文章・画像・映像・サイトデザイン・レイアウト・商標・標章その他本サービスに関連するコンテンツの知的財産権は、当社又は当社にその利用を許諾した権利者に帰属しています。事業者は、これらの情報を当社の事前の書面による許諾なく利用することはできないものとします。</li>
      </ul>
      <h5>第1.20条　（当社の責任）</h5><!--***************************************** -->
      <ul class="static_page__heading_text_list">
        <li>アクティビティの予約もしくは利用に関する契約又はチケット購入契約の当事者は、会員と事業者であり、当社は当該契約の当事者とはなりません。当社は、事業者による当該契約の履行に関して一切の責任を負わないものとします。</li>
        <li>当社は、事業者と事業者との間、又は事業者間に生じた一切のトラブルについて、一切の責任を負わないものとします。万一、事業者と事業者との間、又は事業者間に紛争等が発生し、当社が直接これにやむを得ず対応した場合、事業者は、当社に発生した損害の一切を補償するものとします。</li>
        <li>事業者は、①事業者が本サービスを利用したこと、又は利用できなかったこと、②不正アクセスや不正な改変がなされたこと、③本サービスにおける他の事業者による行為、④第三者によるなりすまし行為、⑤その他本サービスに関連する事項に起因又は関連して生じた一切の損害に関して、当社が損害賠償責任を負わないことに同意します。</li>
        <li>当社は、当社、事業者又は事業者が提供する情報、助言の真実性、最新性、確実性、有用性等について保証しません。当社は、当社、事業者又は事業者が提供する情報、助言に関連して事業者に発生した損害について、一切の責任を負わないものとします。</li>
        <li>当社は、本サービスに瑕疵がないことを保証しません。当社は、万一本サービスに瑕疵があることが判明した場合、その修正に努めますが本サービスの瑕疵に起因して事業者に発生した損害について、一切の責任を負わないものとします。</li>
        <li>当社が損害賠償責任を負う場合についても、当社に故意又は重大な過失がある場合を除いて、当社は、当該事業者が直接かつ現実に被った損害、かつ損害に関連するアクティビティ料金等相当額又はチケット料金相当額を上限として損害賠償責任を負うものとし、特別な事情から生じた損害（損害発生につき予見し、又は予見し得た場合を含む）については責任を負わないものとします。</li>
        <li>当社はプラットフォームの提供者にすぎません。そのため、事業者の皆さまは、当社が事業者の提供する料理の内容や安全性を管理・監督したり、trimaの利用により生ずる損害等を補償し、またtrimaの利用により生ずるトラブルを解決する義務を負わないこと、およびtrimaにおいて事業者の皆さまに提供される情報の正確性、適法性、有用性、安全性等を保証することができないことを了承するものとします。</li>
        <li>事業者の皆さまに健全かつ持続可能な形でtrimaを利用していただくため、事業者の皆さまは、自らの責任においてtrimaを利用するものとします。事業者の皆さまが、trimaを利用するに際して、他の事業者の皆さまその他第三者に対して損害等を生じさせその他トラブルを生じさせた場合には、事業者の皆さまの責任と費用においてこれを解決するものとします。</li>
        <li>また、当社は、trimaの利用により事業者の皆さまに発生した損害等につき、責任を負いません。この当社が責任を負わない損害等には、アクティビティに際して他の事業者の皆さまとの間で発生した損害、trimaに発生した不具合等によりtrimaが一時的ないし恒久的に利用できないことにより引き起こされた損害、trimaにおいて発生したデータの破損・消失等により引き起こされた損害、trimaへの不正アクセスにより生じた損害その他一切の損害等を含みます。</li>
        <li>当社が自発的に、または消費者契約法その他の法令の定めもしくは裁判所の判決等に基づき事業者の皆さまに対する損害賠償を行う場合であっても、当社が事業者の皆さまにプラットフォームを提供するものに過ぎず、当社が個々のアクティビティその他一切の取引の当事者となるものではないことに照らし、当社が事業者の皆さまに対して負担する責任の額は一件当たり10,000円を超えないものとします。</li>
      </ul>
      <h5>第1.21条　（その他）</h5><!--***************************************** -->
      <ul class="static_page__heading_text_list">
        <li>当社は、本規約等を、随時その裁量によって変更または修正することができるものとします。当社は、本規約を変更または修正する場合、この変更または修正が軽微なものや形式的なものである場合を除き、trimaのウェブサイト等を通じて、変更または修正後の規約の適用開始日を定めて事前にその内容を事業者の皆さまに告知します。</li>
        <li>前項に定める変更または修正後の本規約の効力は、当社が別途定める場合を除いて、適用開始日から効力を生じるものとします。</li>
        <li>事業者の皆さまは、本規約の変更または修正後の本規約が効力が生じた後もtrimaを継続使用することにより、当該変更または修正後の本規約に同意したとみなされることに同意します。</li>
      </ul>
      <h5>第1.22条　（本規約の変更）</h5><!--***************************************** -->
      <ul class="static_page__heading_text_list">
        <li>当社は、本規約等を、随時その裁量によって変更または修正することができるものとします。当社は、本規約を変更または修正する場合、この変更または修正が軽微なものや形式的なものである場合を除き、trimaのウェブサイト等を通じて、変更または修正後の規約の適用開始日を定めて事前にその内容を事業者の皆さまに告知します。</li>
        <li>前項に定める変更または修正後の本規約の効力は、当社が別途定める場合を除いて、適用開始日から効力を生じるものとします。</li>
        <li>事業者の皆さまは、本規約の変更または修正後の本規約が効力が生じた後もtrimaを継続使用することにより、当該変更または修正後の本規約に同意したとみなされることに同意します。</li>
      </ul>
      <h5>第1.23条　（完全合意）</h5><!--***************************************** -->
      <ul class="static_page__heading_text_list">
        <li>本規約は、trimaに関して事業者の皆さまが当社との間で合意した他の事項とあわせて、当社と事業者の皆さまの間のtrimaの利用に関する完全な合意を構成するものとします。</li>
        <li>本規約の一部の規定の全部または一部が法令に基づいて無効と判断され、または取り消された場合であっても、その規定の無効と判断された部分または取り消された部分以外の部分および本規約のその他の規定は有効とします。本規約の一部が特定の事業者との間で無効とされ、または取り消された場合でも、本規約はその他の事業者との関係では有効とします。</li>
      </ul>
      <h5>第1.24条　（譲渡禁止）</h5><!--***************************************** -->
      <ul class="static_page__heading_text_list">
        <li>事業者の皆さまは、本規約上の地位、本規約における事業者としての地位その他本規約上の権利または義務を第三者に譲渡し、ライセンス許諾その他の方法でこれを利用させ、またはこれらにつき担保権の設定その他の処分をしてはならないものとします。</li>
        <li>当社は、事業譲渡、合併、会社分割を行う場合その他の合理的な理由がある場合、本規約上の地位、本規約におけるプラットフォームの提供者としての地位その他本規約上の権利または義務を、事業者の皆さまの同意を得ることなく、また事業者の皆さまに通知をすることなく、第三者に対して譲渡することができるものとします。</li>
      </ul>
      <h5>第1.25条　（準拠法と裁判管轄）</h5><!--***************************************** -->
      <ul class="static_page__heading_text_list">
        <p>本規約は、日本法を準拠とし、解釈されるものとします。また本規約に関連し当社と事業者との間に訴訟が生じた場合、札幌地方裁判所を合意管轄裁判所とします。</p>
      </ul>
    </section>
    <section>
      <p class="static_page_last_created_date">最終更新日：2020年11月15日</p>
    </section>
  </div>
</div>


<style>
  .red {color: red;}
  .static_page_container {
    width: 100vw;
    display: flex;
    justify-content: center;
    color: #514745;
  }

  .static_page_inner_container {
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding: 40px 30px 80px;
  }
  .static_page_inner_container a {
    color: #0099CC;
  }
  .breadcrumb ul {
    display: flex;
    margin: 10px 0 0px;
  }
  .breadcrumb ul li {
    margin-right: 10px;
  }
  h3.static_page_heading_title {
    font-size: 24px;
  }
  .static_page_inner_container section {
    margin-bottom: 30px;
  }
  .static_page_inner_container section h4 {
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 0px;
  }
  ul.static_page__content_list {
    padding-left: 30px;
  }
  p, li {
    font-size: 13px;
  }
  p.static_page_last_created_date {
    text-align: end;
  }
  p.static_page_content_minimum_title {
    margin-bottom: 0 !important;
    background: lightgray;
    width: fit-content;
    padding: 1px 10px;
    font-size: 11px;
    border-radius: 15px;
  }
  p.static_page_content_body_of_minimum_title {
    margin-top: 2px;
    margin-bottom: 5px;
    font-size: 11px;
  }
</style>
