<div class="project_inside_container_inner">
  <div class="project_index_container_inner_title_box">
    <h2><%= @project.name %><%= t("label.page_title.project_favorite")%></h2>
  </div>
  <div class="project_index_container_inner_member_list">
    <ul class="project_index_container_inner_member_list_ul">
      <% if !@favorites.nil? %>
        <% wd = ["日", "月", "火", "水", "木", "金", "土"] %>
        <% @favorites.each do |favorite|%>
          <li>
            <%= Activity.find(favorite.activity_id).name %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>


<style lang="scss">
.project_index_container_inner_title_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul.project_index_container_inner_member_list_ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  padding: 9px 20px;
  border: 1px solid lightgray;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 1px 6px -4px grey;
  font-size: 17px;
}
ul.project_index_container_inner_member_list_ul .booked_item_front {
  display: flex;
  flex-direction: column;
}
span.booked_item_title {
  display: inline-block;
  width: 60px !important;
  background: lightgray;
  padding: 1px 15px;
  font-size: 10px;
  border-radius: 5px;
  text-align: center;
  margin-right: 5px;
}
span.booked_item_content {
    font-size: 13px;
}
</style>
