<div class="project_index_container_innner">
  <div class="project_index_container_innner_top">
    <div class="project_index_container_innner_top_searchBox">
      <input type="text" placeholder="keyword"/>
      <i class="fas fa-search"></i>
    </div>
  </div>
  <div class="">
    <div class="">
      <span>ああああああああああああああああああああ</span>
    </div>
  </div>
</div>




<style>
  .project_index_container_innner_top {
      height: 60px;
      width: 100%;
  }
  .project_index_container_innner_top_searchBox {
    width: 70%;
    height: 40px;
    border: solid 1px lightgray;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .project_index_container_innner_top_searchBox input {
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    outline: none;
    padding: 5px 15px;
    font-size: 16px;
    background: none;
  }
  .project_index_container_innner_top_searchBox svg {
    margin-right: 15px;
    color: gray;
    width: 25px !important;
    height: 25px;
  }
</style>
