<div class="project_index_container_inner">
  <div class="thank_you_payment_container">
    <p>決済が完了しました！</p>
    <div class="btns">
      <li><%=link_to "検索を続ける", project_search_home_path(@project) %></li>
      <li><%=link_to "購入履歴を確認する", project_purchase_list_path(@project) %></li>
    </div>
  </div>
</div>




<style>
  .thank_you_payment_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
  }
  .btns li {
    list-style: none;
    background: #0ea3e4;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 6px;
  }
  .btns li a {
    display: block;
    padding: 10px 30px;
    color: #fff;
  }
</style>
