<div class="container">
  <div class="static_pages short_messages_box">
    <div class="short_messages_box_title">
      <span>Thank you for registration!</span>
    </div>
    <div class="short_messages_box_contents">
      <span>
        We sent you confirmation Email.<br />
        Please check your Email Box.<br />And activate your account!
      </span>
      <p><%= link_to "Didn't recieve confirmation Email?", new_user_confirmation_path %></p>

    </div>
  </div>
</div>
