<div class="thankyou_email_container">
  <div class="static_pages short_messages_box">
    <div class="short_messages_box_title">
      <span>Thank you for registration!</span>
    </div>
    <div class="short_messages_box_contents">
      <span>
        We sent you confirmation Email.<br />
        Please check your Email Box.<br />And activate your account!
      </span>
      <p><%= link_to "Didn't recieve confirmation?", new_user_confirmation_path %></p>
    </div>
  </div>
</div>


<style>
  .body_content {
    background: #eaeaea;
    height: 100vh;
  }
  .static_pages.short_messages_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px auto 0px;
    padding: 30px 0px;
    width: 90vw;
    min-width: 320px;
    max-width: 490px;
    background: #fff;
    border-radius: 20px;
  }
  .short_messages_box_title {
    margin-bottom: 20px;
    font-size: 18px;
    padding-bottom: 7px;
    font-weight: bold;
  }
  .notice {
    display: none !important;
  }
</style>
