<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2><%= @supplier.name %> 様</h2>
      <p>いつもtrimaをご利用いただきありがとうございます。<br>
    　trimaにて体験への予約が入りましたのでお知らせいたします。</p>
  </body>
</html>
