<div class="container">
  <div class="static_pages short_messages_box">
    <div class="short_messages_box_title">
      <span>Please check the confirmation Email!</span>
    </div>
    <div>
      <span>
        Thank you for your registration!<br />
        We sent you confirmation Email.
        Please check your Email Box and activate your account!
      </span>
      <p><%= link_to "Didn't recieve confirmation Email?", new_user_confirmation_path %></p>

    </div>
  </div>
</div>
