<div class="nested-fields field">
  <div>
    <%= f.label "Area" %>
    <div class="project_area_row">
    <%= f.collection_select :area_id, Area.all, :id, :en_name, {prompt: "--select trip area--"}, class: "form-control" %>
    <%=link_to_remove_association f, class: 'btn btn-danger' do %>
      <span><i class="fas fa-times-circle" style="color:gray;"></i></span>
    <% end %>
    </div>
  </div>
</div
