<div class="container user_show container-fluid">
  <div class="user_show_side col-2">
    <%= render 'users/user_page_front_sidebar' %>
  </div>
  <div class="user_show_content col-8">
    <div class="user_show_content_down">
      <div class="user_show_info_items_box">
        <h2 class="page_title_padding">Edit Project</h2>
        <!-- <form> -->
          <%= form_for [@user, @project] do |form| %>
            <%= render :partial => 'projects/project_form', :locals => {:form => form} %>
          <% end %>
        <!-- </form> -->
        <div class="delete_btn">
          <%= link_to "Delete Project", user_project_path(@user, @project), method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
