<div class="for_admin_page_container">
  <h1>エリア一覧</h1>
  <div class="admin_list_add_btn_box">
    <div>
      <%=link_to "エリア新規作成", new_area_path %>
    </div>
  </div>
  <div class="admin_info_list_box">
    <ul>
      <li>あああ</li>
    </ul>
  </div>
</div>
