<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3><%= @invited_user_email %>様</h3>
      <p>こんにちは、トラベルプラットフォームtrimaの運営事務局です。</p>
      <p><%= @invite_user.name %> さんからtrimaへの招待が届きました!</p>
    <p>お手数ですが、こちらから登録いただくようお願いいたします → <%= @url %></p>
    <p></p>
    <p>trima運営事務局</p>
  </body>
</html>
