/*
 *= require_self
 */

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
$user-main-color: #2bb560;

//目次==============================================
//1.共通タグ
//2.基本クラス
//3.共通コンポーネント
//4.共通パーツ
//5.複数ページ共通
//6.form関連
//7.header
//8.
//9.
//10.
//11.
//12.
//13.
//14.
//15.
//16.
//17.
//18.
//19.
//20.
//=================================================

//1.基本タグ=========================================
ul {
  list-style: none !important;
  padding: 0;
}
label {
  user-select: none !important;
}
a {
  text-decoration: none;
  :hover {
    opacity: 0.75 !important;
  }
}
a.disabled{
  pointer-events: none !important;
  background: lightgray !important;
}

.form-group.user.login_button input.button {
  // background: #2bb560;
  background: linear-gradient(45deg, #1a68ca, #08AEEA 20%, #2AF598) !important;
  background: -webkit-linear-gradient(45deg, #1a68ca, #08AEEA 20%, #2AF598) !important;
}

//2.基本クラス=========================================
.row {
  display: flex;
  justify-content: space-between;
}
.col-half {
  width: 48%;
}

.hidden {
  display: none !important;
}

//3.共通コンポーネント==================================
.body_content {
  position: relative;
  width: 100%;
  // height: 100%;
  min-height: 500px;
  // min-height: 85vh;
  margin-top: 56px;
}
body.erb_body {
  margin: 0 !important;
  position: relative;
  // height: 100vh;
}
body.erb_body.add_padding_top {
  padding-top: 0px;
  position: relative;
  // height: 100vh;
}


.notice {
  background: #05c77399;
  color: white;
  text-align: center;
  margin: 0;
  width: 100%;
  font-size: 14px;
  z-index: 100;
  padding: 5px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
}
.alert {
  background: #ff2828b8;
  color: white;
  text-align: center;
  margin: 0;
  width: 100%;
  font-size: 14px;
  z-index: 100;
  padding: 5px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
}

//4.共通パーツ=======================================
.button {
  width: 100%;
  display: block;
  text-align: center;
  padding: 10px 0;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  box-sizing: border-box;
  height: 45px;
}
.btn-submit {
  color: #fff;
  margin-bottom: 10px;
  background: linear-gradient(45deg, #1a68ca, #08AEEA 20%, #2AF598);
  background: -webkit-linear-gradient(45deg, #1a68ca, #08AEEA 20%, #2AF598);
}

.btn-cansel {
    background: #eaeaea !important;
    margin-bottom: 10px;
    color: #797979;
    font-size: 12px;
}

.btn-submit:hover,
.btn-cansel:hover,
.link_to_stockFrom_onActivityForm:hover {
  opacity: 0.6;
}

//5.複数ページ共通====================================
.thankyou_email_container {
  background: #eaeaea;
  // height: 100vh;
  padding: 50px;
}

// lp
img.eyecatch_pc_image {
    width: 100%;
}

//6.form関連========================================
.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 18px;
}
.form-control {
  // width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border: 1px solid gainsboro;
  border-radius: 8px;
}
.form-group input[type="text"],
.form-group textarea {
  border-radius: 10px;
  box-sizing: border-box;
  background: #f9f9f9;
  // padding-left: 15px !important;
}
.form-group input:focus,
.form-group textarea:focus {
  outline: 0 !important;
}
.form-group input::placeholder,
.form-group textarea::placeholder {
  color: lightgray;
}
.form-group textarea {
  width: 100% !important;
}
.form-group.button {
  margin-top: 20px;
}
form label {
  font-size: 12px;
  color: #8a8a8a;
  font-weight: bold;
}
.form_btns {
  margin: 50px 0;
}
// form関連====================終わり====================

.child_position_center {
  display: flex;
  justify-content: center;
}



//7.header========================================
header.erb_header {
  // background: $user-main-color !important;
  // background: linear-gradient(45deg, #08AEEA, #2AF598);
  // background: linear-gradient(45deg,#1a68ca,#08AEEA 20%,#2AF598 80%, #0cb567);
  // background: linear-gradient(45deg,#1a68ca,#08AEEA 20%,#2AF598 85%, #a9ff00);
  // background: -moz-linear-gradient(45deg,#1a68ca,#08AEEA 20%,#2AF598 85%, #a9ff00);
  // background: -webkit-linear-gradient(45deg,#1a68ca,#08AEEA 20%,#2AF598 85%, #a9ff00);
  // padding: 0px;
  // height: 60px;
  // width: 100%;
  // z-index: 100;
  background: linear-gradient(0deg, #1a68ca, #08AEEA 20%, #2AF598 85%, #a9ff00);
  background: -webkit-linear-gradient(0deg, #1a68ca, #08AEEA 20%, #2AF598 85%, #a9ff00);
  /* background: transparent; */
  padding: 0px;
  height: 56px;
  width: 100%;
  z-index: 200;
  box-shadow: 0px 4px 5px -5px #00000082;
  position: fixed;
  top: 0;
  .header_inner {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .header_left {
    display: flex;
    align-items: center;
    margin-left: 14px;
  }
  .header_left svg {
    display: none;
  }
  a#logo {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-left: 25px;
    letter-spacing: 4px;
  }
  ul.header__links {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 0;
    margin-top: 0;
    // padding-top: 3px;
    a.header_mypage_link {
      display: flex;
      align-items: center;
    }
    li {
      margin: 0 7px;
      color: #fff;
      font-size: 15px;
      a {
        color: #fff;
      }
      :hover {opacity: 0.5;}
    }
    li.header_signup_link {
      border: solid 1px #fff;
      padding: 3px 10px;
      border-radius: 20px;
    }
  }
}
.header_to_dashboad_text {
  margin: 0 !important;
  font-size: 15px;
}
img.header_avatar {
  width: 33px;
  // border: 2px solid #fff;
  border-radius: 50%;
  /* padding: 2px; */
  background: #e4e4e4;
  margin-top: 3px;
}
a#header_current_supplier_link {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header_link_icon {
  margin-left: 15px;
  background: blueviolet;
  padding: 8px 8px;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #fff;
}
//7.header====終わり====================================

//8.footer========================================

.footer_pc {
  background: #3e3e3e;
  padding: 20px 0px 15px;
  color: #fff;
  width: 100%;
  min-height: 270px;
}
.footer_contents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 25px;
  .footer_content_title h4 {
    margin: 10px 0 0 0;
    font-size: 40px;
  }
}
.footer_content_links {
  display: flex;
  margin-top: 20px;
  ul {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    li {
      a {
        color: #8a8a8a;
      }
    }
  }
}
.footer_copyright_box {
  margin-top: 10px;
  padding: 0 25px;
}
.footer_copyright_box span {
  font-size: 10px;
  color: #b9b9b9;
  font-weight: bold;
}

//8.footer====終わり====================================

// 静的ページ static_pages ************************************
.static_page_container {
  width: 100vw;
  display: flex;
  justify-content: center;
  color: #514745;
}

.static_page_inner_container {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  padding: 40px 30px 80px;
}
.static_page_inner_container a {
  color: #0099CC;
}

.static_page_inner_container .breadcrumb ul {
  display: flex;
  margin: 10px 0 0px;
}
.static_page_inner_container .breadcrumb ul li {
  margin-right: 10px;
}
.static_page_heading_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h3.static_page_heading_title {
  font-size: 24px;
}
.static_page_inner_container .inline-radio {
  display: flex;
  width: 160px;
  height: 25px;
  /* border-radius: 3px;
  overflow: hidden;
  border: 1px solid #b6b6b6; */
}
.static_page_inner_container .inline-radio input {
  display: none;
}
.static_page_inner_container .inline-radio label {
  background: #eee;
  padding: 3px 12px;
  font-size: 13px;
  width: 50%;
  text-align: center;
}
.static_page_inner_container label#english {
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
}
.static_page_inner_container label#japanese {
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
}
.static_page_inner_container input:checked + label {
  background: #0b9bcc;
  font-weight: 500;
  color: #fff;
}
.static_page_inner_container section {
  margin-bottom: 30px;
}
.static_page_inner_container section h4 {
  font-size: 23px;
  margin-top: 0;
  margin-bottom: 0px;
}
h4.static_pages_section_sub_title {
    font-size: 15px !important;
}
.static_page_inner_container ul.static_page__content_list {
  padding-left: 30px;
}
.static_page_inner_container p, li {
  font-size: 13px;
}
.static_page_inner_container p.static_page_last_created_date {
  text-align: end;
}
.static_page_inner_container ul.static_page__content_list.english_list {
  padding-left: 0 !important;
  margin-bottom: 30px;
}

ul.static_page__content_list.english_list li {
  margin-bottom: 10px;
  display: flex;
}
span.static_page_list_num {
  margin-right: 10px;
}
ul.static_page__content_sub_list.english_list {
  padding-left: 40px;
}
table.static_page_table {
  border: solid 1px lightgray;
  margin: 30px 0 !important;
  width: 95%;
  margin-left: 5% !important;
}
table.static_page_table tr th {
  padding: 10px;
  font-size: 13px;
  width: 33%;
  background: lightblue;
  border: solid 1px #b3b3b3;
  text-align: left;
}
table.static_page_table tr td {
  padding: 5px 10px;
  font-size: 11px;
  border: solid 1px lightgray;
}
span.static_page_list_num.hidden_num_on_list {
    color: transparent;
}

ul.static_page__content_list.list_with_num {
    list-style: decimal !important;
    /* list-style-position: outside !important; */
}
ul.static_page__heading_text_list li {
    margin-left: 20px;
}
ul.static_page__heading_text_list {
    list-style: decimal !important;
}
/*home************************************/
.home_contents__top {
  background: linear-gradient(0deg, #1a68ca, #08AEEA 20%, #2AF598 85%, #a9ff00);
  background: -webkit-linear-gradient(0deg, #1a68ca, #08AEEA 20%, #2AF598 85%, #a9ff00);
  height: 330px;
  padding: 30px 2% 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

img.eyecatch_image_home {
  bottom: -12px;
  left: 100px;
  width: 220px;
}
.home_contents__top__center {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home_contents__top__up {
  color: #fff;
  h4 {
    font-size: 30px;
    margin: 0;
    letter-spacing: 4px;
  }
  p {
    font-size: 25px;
    margin: 0 0 10px;
  }
}
.home_contents__top__bottom {
  margin-top: 20px;
  p {
    color: #fff;
    font-size: 25px;
    margin: 0;
    font-weight: bold;
  }
}
.home_top_downner {
  display: flex;
  align-items: center;
  height: 250px;
  justify-content: space-between;
  width: 100%;
  img.eyecatch_image_home_middle {
      width: 200px;
  }
}
.home_contents__itembox {
  display: flex;
  justify-content: center;
  padding: 30px 11%;
}

.itembox__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.home_new_activity_container {
  display: flex;
  // justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 100%;
  .home_new_activity_right_top_item {
    width: 23%;
    padding: 0 1%;
    margin-bottom: 25px;
  }
  img.home_item_image {
    width: 100%;
    border-radius: 10px;
  }
}
// .home_new_activity_left_big_box {
//   width: 40%;
//   margin-right: 15px;
//   img.home_new_activity_left_big_image {
//     width: 350px;
//     border-radius: 10px;
//   }
//   .big_box_activity_info_box {
//     padding: 5px;
//     width: 340px;
//     border-bottom-left-radius: 10px;
//     border-bottom-right-radius: 10px;
//   }
// }

// .home_new_activity_right_box {
//   width: 60%;
//   .activity_info_box {
//     padding: 5px;
//     width: 158px;
//     border-bottom-left-radius: 10px;
//     border-bottom-right-radius: 10px;
//   }
//   span.activity_name {
//     word-break: break-all;
//     display: block;
//   }
// }
// .home_new_activity_right_top_box {
//   margin-bottom: 14px;
//   display: flex;
//   width: 100%;
//   img.home_item_image {
//     height: 168px;
//     border-radius: 10px;
//   }
// }
// .home_new_activity_right_top_item {
//   width: 33%;
//   padding-right: 10px;
// }
// .home_new_activity_right_bottom_box {
//   display: flex;
//   img.home_item_image {
//     height: 168px;
//     border-radius: 10px;
//   }
// }

.category_item_box {
  width: 100%;
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .category_item {
    opacity: 0.5;
    border: solid 1px #dfdfdf;
    padding: 10px 40px;
    margin: 5px;
    border-radius: 4px;
    box-shadow: 0px 0px 5px -3px #aaaaaa;
  }
  .category_item:hover {
    opacity: 1;
    cursor: pointer;
    color: #08aeea;
  }
}

.home_contents__top__down ul li {
  margin: 15px 0;
}
.home_contents__top__down ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  padding: 5px 20px;
  border-radius: 40px;
  height: 25px;
  width: 160px;
  color: #fff !important;
  font-weight: bold;
  box-shadow: 0px 3px 5px -3px #606060;
}
a.home_eyecatch_first_btn {
  background: linear-gradient(7deg, #0078cd, #37abff 80%);
}
a.home_eyecatch_second_btn {
  background: linear-gradient(7deg, #003b85, #4684d7);
}

a.home_eyecatch_first_btn:hover,
a.home_eyecatch_second_btn:hover {
  opacity: 0.7;
}

/*sign_up************************************/

.sign_up_in_page {
  width: 100%;
  display: flex;
  justify-content: center;
}
.sign_up_in_page_front {
  background-image: url("../images/biei_dark.jpg");
  background-size: cover;
  padding: 60px;
  width: 50%;
  color: #fff;
  h2 {
    font-size: 45px;
    margin: 0;
  }
  p {
    font-size: 23px;
    margin: 0;
  }
}
.sign_up_in_page_end {
  padding: 40px 60px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 480px;
}
form#new_user,
form#new_supplier {
  width: 65%;
  margin: auto;
}
.supplement_text {
  font-size: 10px;
}

.btn-key-color {
  background: #4fb15f;
  color: #fff;
  font-weight: bold;
  border-radius: 30px;
}
.another_way_btn_box {
  margin: 10px auto;
  text-align: center;
  list-style: none;
}
.another_way_btn_box a {
  color: #48aada;
  font-size: 13px;
  margin-left: 6px;
}
.another_way_btn_box span {
    color: #5f5f5f;
}
.didnt_recieve_btn_box {
  margin: 25px auto;
}
.didnt_recieve_btn_box a {
    font-size: 14px;
    color: #289cd5;
}
.form-group.agree_check {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 5px;
}
input#agree_checkbox {
  margin-bottom: 0;
  margin-right: 10px;
  width: 18px;
  height: 18px;
}
a.agree_link {
  color: #108fff;
  text-decoration: underline;
}

/* パスワード表示・非表示 */
div#password_input_box {
  position: relative;
}
#password_visible_btn {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25px;
    height: 19px;
    padding: 10px;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-group.login_button input.button {
  margin-top: 15px;
}
/*after_send_email***************************/
.static_pages.short_messages_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px auto 100px;
  padding: 50px 0;
  width: 100vw;
  max-width: 500px;
}
.short_messages_box_title {
  margin-bottom: 30px;
  font-size: 17px;
  border-bottom: solid 1px lightgray;
  padding-bottom: 7px;
}
.short_messages_box_contents {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.short_messages_box_contents span {
  text-align: center;
}

//サイドバーありのUI************************************/
.container.user_show.container-fluid {
  display: flex;
  margin-top: 56px;
  height: 100%;
}
.user_show_side {
  width: 17%;
  padding: 20px 10px 30px 20px;
  min-height: 80vh !important;
}
.user_show_side ul {
  position: sticky;
  top: 65px;
}
.user_show_content {
  padding: 0px;
  width: 80%;
  background: #eaeaea;
  min-height: 80vh !important;
  form {
    padding: 0 20px;
    .user_show_content_down {
      margin: 0px 0;
      padding: 0px 0;
      display: flex;
      width: 100%;
      .user_show_info_items_box {
        width: 70%;
        // padding: 10px;
        padding: 10px 10px;
        section.form_section {
          background: #fff;
          padding: 15px 20px;
          margin-bottom: 25px;
          border-radius: 10px;
          box-shadow: 0px 0px 5px -2px grey;
        }
      }
      .user_show_info_button_box {
        width: 30%;
        padding: 10px 0 10px 20px;
        height: 220px;
        position: sticky;
        top: 60px;
        .form_sidebtns_container {
          background: #fff;
          height: 100%;
          padding: 20px;
          border-radius: 8px;
          .form_sidebtn {
            margin-bottom: 10px;
          }
        }

      }
      ul.user_show_info_items {
        width: 100%;
        li {
          margin-bottom: 15px;
          display: flex;
        }
        div.user_info_item_title {
          font-weight: bold;
          width: 15%;
          text-align: end;
          padding-right: 20px;
        }
      }
    }
  }
}

.user_show_main_content,
.supplier_show_main_content {
  width: 83%;
  background: #eaeaea;
}

.user_show_side ul li {
  margin-bottom: 9px;
  font-size: 16px;
  padding: 0 15px;
  a {
    color: #fff;
  }
}
.user_show_side ul li:hover {
  background: #2d426f;
  border-radius: 50px;
}

.activity_stock_top_box {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 0px 15px;
  margin-bottom: 30px;
}
.activity_stock_top_box h3 {
    margin: 15px 0 5px;
}
.activity_stock_top_box h5 {
    margin: 10px 0;
    z-index: 50;
    color: #6f6f6f;
}
.activity_stock_top_box h5 a {
    color: #009edc;
}
.activity_stock_top_box h5 span {
  background: lightgray;
  padding: 5px 15px;
  margin-right: 9px;
  color: gray;
  border-radius: 15px;
}

.user_show_content_up {
  display: flex;
  flex-direction: column;
}
.user_show_content_up__up {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.user_show_avatar_box {
  width: 60px;
  height: 60px;
  padding: 4px;
  border-radius: 50%;
}
.user_show_avatar_box_inside {
  background: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.user_show_up_right_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-top: 15px;
}
img.user_avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}
.user_show_name_box {
  padding: 0 20px 30px;
  display: flex;
  flex-direction: column;
}
.user_show_nickname {
  font-size: 24px;
  font-weight: bold;
}
.user_show_realnames {
  font-size: 14px;
  span {
    margin-right: 5px;
  }
}
.user_show_country div {
  font-size: 12px;
  color: gray;
  svg {
    color: gray;
    margin-right: 6px;
  }
}
.user_show_profile {
  margin-top: 15px;
}
.user_show_btn_box {
  padding-top: 10px;
  div a {
    padding: 8px 23px;
    color: #fff;
    font-weight: bold;
    border-radius: 30px;
    margin-top: 10px;
  }
}

.supplier_activity_page_top {
  padding: 20px 25px;
  // position: relative;
}
.form-group.side_btns_suspend_check {
  flex-direction: row;
}

/*user edit************************************/

.user_edit_image_container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.form-group.user_edit_image_box {
  position: relative;
  width: 150px;
  height: 150px;
}
.user_edit_image_box_inside img {
  background: #fff;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
input#post_image {
  display: none;
}
div#user_edit_image_upload_btn_box {
  width: 35px;
  height: 35px;
  position: absolute;
  bottom: -7px;
  right: -6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
span#user_edit_image_upload_btn {
  background: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px;
  border-radius: 50%;
  svg {
    margin: auto;
  }
}
.no_show_profile_input_box {
  padding: 20px 10px 5px;
  background: lightgray;
  margin-bottom: 20px;
}
.comment_for_no_show {
  font-size: 14px;
  font-weight: bold;
  color: darkgrey;
  margin-bottom: 20px;
}
.comment_for_no_show svg {
  color: gray;
  font-size: 20px;
}

.gender_input_items {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.radio_item {
  margin-right: 0;
  width: 50%;
}

.radio_item input[type="radio"] {
  margin: 0 6px 0 0px;
  width: 25px;
  height: 30px;
  vertical-align: middle;
}
.birth_day_input_items .form-control {
  width: 30%;
  max-width: 100px;
}
span.form_supplement {
  font-size: 10px;
  color: #8a8a8a;
  margin-left: 6px;
  font-weight: bold;
}

/************************************************************
*************************************************************
***** スマホ用CSS**********************************************
*************************************************************
*************************************************************/

@media screen and (max-width: 781px) {
  /* 781px以下に適用されるCSS（タブレット用） */
  header.erb_header a#logo {
    font-size: 22px;
    margin-left: 15px;
    font-weight: bold;
  }
  .header_left svg {
    display: block !important;
    font-size: 25px;
  }
  /*ヘッダーサイドメニュー*/
  header.erb_header .header_left {
    margin-left: 0px;
    position: relative;
    height: 100%;
  }
  a#menu_show_btn {
    margin-left: 14px;
  }
  a#menu_show_btn svg {
    color: #fff;
  }
  div#menu_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    color: #fff;
    display: flex;
    animation: SlideIn 0.4s;
    // transform: translate3d(100vw, 0, 0);
    // transition: transform .1s cubic-bezier(0, .52, 0, 1);
  }
  @keyframes SlideIn {
    0% {
      opacity: 0;
      transform: translateX(-64px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .menu_inside {
    width: 70%;
    background: #0f1d16f7;
    padding: 30px 20px 30px 30px;
    z-index: 100;
  }
  ul.sp_side_menu li {
    margin-bottom: 12px;
    font-size: 20px;
    color: #b5b5b5;
    display: flex;
    align-items: center;
  }
  ul.sp_side_menu li svg {
    margin-right: 11px;
    width: 30px !important;
  }
  ul.sp_side_menu.menu_for_user a {
    color: #b5b5b5 !important;
  }
  ul.sp_side_menu li a:visited {
    color: #b5b5b5;
  }
  div#menu_outside {
    width: 30%;
    // background: #48484887;
  }
  .menu_inside_up {
    position: relative;
  }
  .menu_inside_up span,
  .menu_inside_up svg {
    font-size: 30px;
    position: absolute;
    top: 0;
  }
  .menu_inside_up span {
    left: 0;
  }
  .menu_inside_up svg {
    right: 0;
  }
  .menu_inside ul {
    margin-top: 70px;
  }

  /*ヘッダーサイドメニュー終わり*/

  .sign_up_in_page {
    width: 100%;
    display: block;
  }
  .sign_up_in_page_front {
    display: none;
  }
  .sign_up_in_page_end {
    padding: 30px 0px;
    width: 100%;
  }

  .home_contents__itembox {
    padding: 30px 0px;
    width: 100%;
  }
  .itembox__inner {
    width: 100%;
  }
  .itembox__inner__items {
    width: 100%;
  }
  .itembox__inner__items ul {
    width: 100%;
    padding: 0px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .itembox__inner__items ul li {
    width: 41%;
    margin: 7px 7px 0px 7px;
  }

  .footer_pc {
    display: none;
  }
  .footer_contents {
    flex-direction: column;
  }
  .footer_content_links ul {
    margin: 0 0px;
  }

  .header_username {
    display: none;
  }
  // .user_show_side {
  //   display: none;
  // }
  .user_show_content,
  .supplier_show_main_content {
    width: 100%;
    padding: 30px 0px 50px;
  }
}

/************************************************************
*************************************************************
***** スマホ用CSS***********終わり***********************************
*************************************************************
*************************************************************/


/**admin********************/
.for_admin_page_container {
  padding: 10px 15% 50px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.seasons_input_items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.form-group.seasons_input_box {
  display: flex;
  flex-direction: row;
}
.form-group.seasons_input_box .form-group {
  display: flex;
  align-items: center;
  input[type="checkbox"] {
    margin: 1px 6px 0px !important;
  }
}
table {
  border-collapse: collapse;
}
table tr {
  border-bottom: 1px solid #e9e9e9;
  // border:1px solid #dedede;
  padding: 5px;
}
table th {
  padding: 5px;
}

table td {
  padding: 5px;
}

// サイドバーがあるformの基本構造
//supplier=>体験,事業者登録,体験事業登録
.activity_index_activity_list_box form {
  display: flex;
}
.activity_index_top_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px;
  margin-bottom: 30px;
}
.activity_index_top_box h3 {
  margin-bottom: 0;
  font-weight: normal;
  color: #4c4c4c;
}

.form_big_title {
  margin-bottom: 25px;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form_big_title h3 {
  margin: 0px 0 0px;
  padding: 5px 20px;
  // width: 180px;
  text-align: center;
  background: #4c4c4c;
  border-radius: 50px;
  font-size: 16px;
  color: #ffffff;
}


.form_btns_box {
  width: 25%;
  padding: 10px 10px 20px 10px;
  margin-right: 10px;
}
#form_btns {
  position: -webkit-sticky;
  position: sticky;
  top: 65px;
  background: #fff;
  // height: 180px;
  padding: 20px 15px 30px;
  border-radius: 7px;
  box-shadow: 0px 0px 7px -1px #b7b7b7;
}
.activity_index_top_box a.add_btn {
  background: #2bb561;
  padding: 5px 15px;
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
}
li.activity_list_item {
  padding: 10px 0;
  border-bottom: solid 1px #dfdfdf;
  border-top: solid 1px #dfdfdf;
  box-shadow: 0px 0px 7px -4px gray;
}
