/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "~@fortawesome/fontawesome-free/scss/fontawesome";
 $colors: (
    ButtonColor: #258e4f,
    MainKeyColor: #258e4f,
    SubKeyColor: #36d475,
);

/*基本css************************************/
body.erb_body {
  margin: 0 !important;
  width: 100vw;
  // padding-bottom:100px;
  // position: relative;
}
body.erb_body.add_padding_top {padding-top: 45px;}
ul {list-style: none !important;padding: 0;
}
a {text-decoration: none;}
a:hover {opacity: 0.8;}
.notice {
  background: #37cd4f63;
  color: green;
  text-align: center;
  margin: 0;
}
.alert {
  background: #cd373763;
  color: red;
  text-align: center;
  margin: 0;
}
.form-group {
    width: 100%;
    margin-bottom: 18px;
}
.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid gainsboro;
    border-radius: 8px;
}
.form-group input {
  border-radius: 10px;
  box-sizing: border-box;
}
.form-group.button {
    margin-top: 30px;
}
form label {
    font-size: 12px;
    color: #8a8a8a;
    font-weight: bold;
}

.child_position_center {
  display: flex;
  justify-content: center;
}

.row {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
}
.col-half {
    width: 48%;
}
/*header************************************/
header.erb_header {
  background: #2bb562;
  padding: 0px;
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  .header_inner {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  a#logo {
    color: #fff;
    font-size: 18px;
    margin-left: 30px;
  }
  ul.header__links {
    display: flex;
    margin-right: 15px;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 3px;
    a.header_mypage_link {
      display: flex;
      align-items: center;
    }
    li {
      margin: 0 7px;
      a {color: #fff;}
    }
  }
}
img.header_avatar {
    width: 25px;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 2px;
    background: #e4e4e4;
}
/* footer****************************/
.footer_pc {
  background: #3e3e3e;
  padding: 20px 0px 15px;
  color: #fff;
  // position: fixed;
  // bottom: 0;
  width: 100%;
  // position: absolute;
  // bottom: 0;
}
.footer_contents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 25px;
  // align-items: center;
  .footer_content_title h4 {
    margin: 10px 0 0 0;
    font-size: 40px;
  }
}
.footer_content_links {
  display: flex;
  margin-top: 20px;
  // width: 100%;
  ul {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    li {
      a {color: #8a8a8a;}
    }
  }
}
.footer_copyright_box {
  margin-top: 10px;
  padding: 0 25px;
}
.footer_copyright_box span {
  font-size: 10px;
  color: #b9b9b9;
  font-weight: bold;
}
/*sign_up************************************/

.sign_up_in_page {
  width: 100%;
  display: flex;
}
.sign_up_in_page_front {
  background-image: url("../images/biei_dark.jpg");
  // background-image: url("biei_dark.jpg");
  // background-image: url(<%= asset_path "biei_dark.jpg" %>);
  // background-image: url("../images/biei.jpg");
  background-size: cover;
  padding: 60px;
  width: 50%;
  color: #fff;
  h2 {
    font-size: 45px;
    margin: 0;
  }
  p {
    font-size: 35px;
    margin: 0;
  }
}
.sign_up_in_page_end {
  padding: 40px 60px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
form#new_user {
  width: 80%;
  margin: auto;
}
.supplement_text {
  font-size: 10px;
}

.button {
  color: #fff;
  background: #146e24;
  padding: 7px 20px;
  border: none;
  border-radius: 10px;
  width: 100%;
  font-size: 17px;
  box-sizing: border-box;
}
.btn-key-color {
  background: #4fb15f;
  color: #fff;
  font-weight: bold;
  border-radius: 30px;
}
.another_way_btn_box {
  margin: 20px auto;
}
.didnt_recieve_btn_box {
  margin: 25px auto;
}

/*user show************************************/
.container.user_show.container-fluid {
  display: flex;
  width: 100vw;
}
.user_show_side {
    width: 20%;
    background: #0f3a36;
    padding: 20px 0 30px 30px;
}
.user_show_content {
    width: 80%;
}

.user_show_side ul li {
    margin-bottom: 6px;
    font-size: 18px;
    a {color: #fff;}
    /* color: #fff; */
}
.user_show_content {padding: 40px 30px 50px 50px;}
.user_show_content_up {display: flex;}
.user_show_avatar_box {
  width: 100px;
  height: 100px;
  padding: 4px;
  background: linear-gradient(45deg,#2bb561,#7bff17);
  border-radius: 50%;
}
.user_show_avatar_box_inside {
    background: #fff;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
img.user_avatar {width: 120px;}
.user_show_up_right_box {
  display: flex;
  flex-direction: row;
  // align-items: center;
  justify-content: space-between;
  width: 80%;
  padding-top: 15px;
}
img.user_avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
.user_show_name_box {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
}
.user_show_nickname {
  font-size: 24px;
  font-weight: bold;
}
.user_show_realnames {
  font-size: 14px;
  span {margin-right: 5px;}
}
.user_show_country {
}
.user_show_btn_box {
  padding-top: 10px;
  div a {
    background: #4fb15f;
    padding: 8px 23px;
    color: #fff;
    font-weight: bold;
    border-radius: 30px;
    margin-top: 10px;
  }
  // svg {margin-right: 5px;}
}
.user_show_content_down {
  margin: 20px 0;
  padding: 20px 0;
  ul.user_show_info_items {
    width: 100%;
    li {
      margin-bottom: 15px;
      display: flex;
    }
    div.user_info_item_title {
        font-weight: bold;
        width: 15%;
        text-align: end;
        padding-right: 20px;
    }
  }
}

/*user show************************************/
.user_edit_image_box_inside {
  width: 150px;
  height: 150px;
  padding: 4px;
  background: linear-gradient(45deg,#2bb561,#7bff17);
  border-radius: 50%;
}
.user_edit_image_box_inside img {
  background: #fff;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
