/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 $colors: (
    ButtonColor: #258e4f,
    MainKeyColor: #258e4f,
    SubKeyColor: #36d475,
);

/*基本css************************************/
body {
  margin: 0 !important;
  width: 100vw;
  padding-top: 45px;
}
ul {list-style: none !important;padding: 0;
}
a {text-decoration: none;}
a:hover {opacity: 0.8;}
.notice {
  background: #37cd4f63;
  color: green;
  text-align: center;
}
.alert {
  background: #cd373763;
  color: red;
  text-align: center;
}
.form-group {
    width: 100%;
    margin-bottom: 18px;
}
.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid gainsboro;
    border-radius: 8px;
}
/*header************************************/
header {
  background: #146f23;
  padding: 0px;
  height: 45px;
  position: fixed;
  top: 0;
  width: 100%;
  .header_inner {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  a#logo {
    color: #fff;
    font-size: 18px;
    margin-left: 30px;
  }
  ul.header__links {
    display: flex;
    margin-right: 15px;
    li {
      margin: 0 7px;
      a {color: #fff;}
    }
  }
}
/* footer****************************/
.footer_pc {
  background: #398045;
  padding: 30px 60px;
}
.footer_contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer_content_links {
  display: flex;
  margin-top: 20px;
  width: 100%;
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/*sign_up************************************/

.sign_up_in_page {
  width: 100%;
  display: flex;
}
.sign_up_in_page_front {
  background-image: url("biei.jpg");
  // background-image: url("../images/biei.jpg");
  background-size: cover;
  padding: 60px;
  width: 50%;
}
.sign_up_in_page_end {
  padding: 60px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
form#new_user {
  width: 80%;
  margin: auto;
}
.supplement_text {
  font-size: 10px;
}
.form-group input {
  border-radius: 10px;
}
.button {
  color: #fff;
  background: #146e24;
  padding: 7px 20px;
  border: none;
  border-radius: 10px;
  width: 100%;
  font-size: 17px;
}
.btn-key-color {
  background: #4fb15f;
  color: #fff;
  font-weight: bold;
  border-radius: 30px;
}
.another_way_btn_box {
  margin: 20px auto;
}
.didnt_recieve_btn_box {
  margin: 25px auto;
}
