/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*基本css************************************/
ul {list-style: none;}
a {text-decoration: none;}
a:hover {opacity: 0.8;}


header.navbar.navbar-expand-md {
 background: #4fb160;
 /* position: fixed; */
 /* top: 0; */
 width: 100vw;
 height: 80px;
}
header.navbar.navbar-expand-md div.container a#logo {
 color: #fff!important;
 font-size: 18px;
}
ul.nav.navbar-nav.navbar-right a{
 color: #fff!important;
 margin-left: 5px;
 margin-right: 5px;
}
