<div class="nested-fields">
  <div class="form-group">
    <div class="course_row1">
      <span class="course_number">コース1</span>
    </div>
    <div class="course_row2 time_select">
      <div class="">
        <%= f.time_select :start_time, {:minute_step => 10},class: "form-control time_input", oninput: 'hasInput()' %>
      </div>
    </div>
    <div class="course_row3 time_select">
      <div class="">
        <%= f.time_select :meet_time, {:minute_step => 10},class: "form-control time_input", oninput: 'hasInput()' %>
      </div>
    </div>
    <div class="course_row4">
      <%= link_to_remove_association f, class: "remove_course_btn", onClick: 'checkNoInput()' do %>
        <span><i class="fas fa-times"></i>削除</span>
      <% end %>
    </div>
  </div>
</div>

<style media="screen">
  select.time_input {
    width: 50px;
    margin: 4px 0px 0px;
    height: 40px;
    padding: 4px 3px;
  }
</style>
