<!-- <form> -->
<div class="user_show_info_items_box">
  <div class="form-group ageprice_table">
    <div id="ageprice">
      <%= f.fields_for :activity_courses do |c| %>
        <%= render "activity_ageprice_fields", f: c %>
      <% end %>
    </div>
  </div>
</div>
<!-- </form> -->

<style lang="scss">
  .form_big_title {
    border-left: solid 8px #15a397;
    padding-left: 11px;
  }
  .form_big_title h3 {
    margin: 0 0 20px;
  }
  .form_big_title.after_second_title {
    margin-top: 60px;
  }
  #user_edit_image_upload_btn:hover {
    cursor: pointer;
  }
  .hidden {
    display: none;
  }
  .activity_season_input_box,
  .activity_openday_input_box {
    display: flex;
    flex-wrap: wrap;
  }
  .activity_season_input_box .form-group {
    display: flex;
    margin-bottom: 0px;
    width: 16.6%;
  }
  .activity_openday_input_box .form-group {
    display: flex;
    margin-bottom: 0px;
    width: 14.28%;
  }
  .activity_season_input_box input[type=checkbox],
  .activity_openday_input_box input[type=checkbox] {
    display: none;
  }
  input[type="checkbox"]:checked + label {
    background: #18ab9e;/* マウス選択時の背景色を指定する */
    color: #ffffff; /* マウス選択時のフォント色を指定する */
  }
  .activity_season_input_box label,
  .activity_openday_input_box label {
    padding: 5px 10px;
    text-align: center;
    background: #e8e8e8;
    user-select: none;
    width: 100%;
  }
  .activity_season_input_box label:hover,
  .activity_openday_input_box label:hover {
    background: #18ab9e85;
    color: #fff;
  }
  label.first_check_label {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  label.last_check_label {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  .top_left_check_label {border-top-left-radius: 6px;}
  .top_right_check_label {border-top-right-radius: 6px;}
  .bottom_left_check_label {border-bottom-left-radius: 6px;}
  .bottom_right_check_label {border-bottom-right-radius: 6px;}
  .form-group.time_input input {
    width: 60px;
    border-radius: 6px;
  }
  #add_course_btn {
    border: solid 1px #fff;
    background: #ececec;
    color: #656565;
    padding: 3px 20px;
    border-radius: 50px;
    width: 160px;
    text-align: center;
    user-select:none;
  }
  #add_course_btn:hover {
    cursor: pointer;
    background: #d8d8d8;
  }
  #add_course_btn svg {
    color: #7b7b7b;
  }
  div#courses .nested-fields .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
  }
  a.remove_course_btn {
    /* margin-left: 15px; */
    background: #ef6c6c;
    color: #fff;
    border-radius: 93px;
    padding: 3px 0;
    font-size: 12px;
  }
  a.remove_course_btn span {
    padding: 0px 9px 0px 10px;
  }
  .course_table_head {
    display: flex;
    background: gainsboro;
    color: #fff;
    font-size: 14px;
  }
  .course_row1 {
    width: 60%;
    /* text-align: center; */
  }
  .course_row2 {
    width: 40%;
    text-align: right;
    padding-right: 10px;
  }
  select.time_input {
    width: 70px;
    margin: 4px 5px 0px;
    height: 40px;
    padding: 5px 10px;
  }
  .course_row2.time_select {
    padding: 5px;
    display: flex;
    align-items: center;
  }
  .links {
    text-align: center;
    background: gainsboro;
    margin: 10px 30%;
    padding: 2px;
    border-radius: 40px;
    font-size: 14px;
    /* color: #fff; */
  }
  .links a {
    color: #777777;
    display: block;
    user-select: none;
  }
  .links:hover {
    background: #b7b7b7;
  }
  a.disable {
    pointer-events: none;
  }
  /* 年齢と料金 */
  .ageprice_table_head {
    display: flex;
    justify-content: space-between;
    background: gainsboro;
    color: #fff;
    font-size: 10px;
  }
  .ageprice_table_head_front {
    width: 95%;
    display: flex;
    align-items: center;
  }
  .ageprice_table_head_back {width: 5%;}
  .ageprice_table_head div {
    display: flex;
    align-items: center;
  }
  .form-group.ageprice_item {
    display: flex;
    /* align-items: center; */
    margin-bottom: 5px;
  }
  .ageprice_input {
    display: flex;
    align-items: flex-end;
  }
  .ageprice_row_agefrom {
    width: 14%;
    padding: 0.5%;
  }
  .ageprice_fromsign {
    display: flex;
    align-items: flex-end;
    width: 3%;
    padding: 1%;
  }
  .ageprice_row_ageto {
    width: 14%;
    padding: 0.5%;
  }
  .ageprice_price_input_box {
    width: 25%;
    padding: 0 0.5%;
  }
  .ageprice_row_high {
    width: 11%;
    padding: 0 1%;
  }

  span.ageprice_unit {
    font-size: 10px;
    font-weight: bold;
    color: gray;
    padding: 0 0 1% 1%;
  }
  span.seasonal_price {
    font-size: 12px;
    color: #a2a2a2;
  }
  .ageprice_row_5 {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  a.remove_ageprice_btn {
      padding: 5px;
      font-size: 14px;
      width: 35px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  a.remove_ageprice_btn svg {
    width:100%;
    margin: 0;
    color: #ef6c6c;
  }
  .ageprice_row_high.ageprice_input {
    display: flex;
    justify-content: flex-end;
  }
  div#ageprice div.nested-fields:first-child div.age_to_input_box input,
  div#ageprice div.nested-fields:first-child div.age_to_input_box span {
    display: none;
  }
  .form-group.season_price_radio_box {
    display: flex;
    flex-direction: column;
  }
  .season_price_radio_box_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    padding: 0 10px;
  }
  div#season_price_ratio_box {
    width: 50%;
  }
  .form-group.season_price_radio_box label:first-child {
    margin-right: 20px;
  }
  .season_price_radio_items {
    display: flex;
    width: 30%;
  }
  .season_price_radio_items input[type=radio],
  .season_price_radio_items input[type=radio] {
    display: none;
  }
  .season_price_radio_items label {
    background: gainsboro;
    padding: 3px 12px;
    user-select: none;
  }
  .season_price_radio_item.on label {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
  }
  .season_price_radio_item.off label {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
  }
  .season_price_radio_items input[type="radio"]:checked + label {
    background: #18ab9e;/* マウス選択時の背景色を指定する */
    color: #ffffff; /* マウス選択時のフォント色を指定する */
  }
  input.date_select {
    font-size: 13px;
  }
  @media screen and (max-width: 787px) {
    .season_price_radio_box_inner {
      flex-direction: column;
      align-items: baseline;
    }
}
</style>
