<div class="supplier_show_content_inside_form">
  <div class="supplier_activity_page_top_stock_form">
    <!-- <div class="activity_index_top_box">
      <h3>在庫情報を編集</h3>
    </div> -->
    <%#= render 'month_tab_edit' %>
    <%= render 'stock_edit_form' %>
  </div>
</div>
