<%= stylesheet_link_tag 'suppliers' %>
<div class="thankyou_email_container">
  <div class="static_pages short_messages_box">
    <div class="short_messages_box_title">
      <span>認証メールを再送しました</span>
    </div>
    <div class="short_messages_box_contents">
      <span>
        メールアドレス宛に認証メールをお送りいたしました。
        メールボックスをご確認いただき、アカウントを認証してください
      </span>
      <p>それでも認証メールが届かない方は弊社WEBサイトのお問合せページからお問合せください</p>
      <p><a href="https://ccc.ne.jp/contact/" target="_blank">シーダースコミュニケーションズ株式会社お問い合わせページ</a></p>
    </div>
  </div>
</div>
