<div class="supplier_show_content_inside">
  <div class="top_info_items">
    <div class="activity_business_info_box">
      <h4 style="margin-top: 0;margin-bottom: 10px;">予約</h4>
      <%= @booked.size %>件
    </div>
    <div class="activity_business_info_box">
      <h4 style="margin-top: 0;margin-bottom: 10px;">予約</h4>
      <%= @booked.size %>件
    </div>
    <div class="activity_business_info_box">
      <h4 style="margin-top: 0;margin-bottom: 10px;">予約</h4>
      <%= @booked.size %>件
    </div>
  </div>
</div>

<style>
  .top_info_items {
    display: flex;
    justify-content: space-between;
  }
  .activity_business_info_box {
    width: 29%;
  }

</style>
