<div class="container">
  <div class="static_pages short_messages_box">
    <div class="short_messages_box_title">
      <span>ご登録ありがとうございます！</span>
    </div>
    <div class="short_messages_box_contents">
      <span>
        メールアドレス宛に認証メールをお送りいたしました。<br />
        メールボックスをご確認いただき、アカウントを認証してください
      </span>
      <p><%= link_to "認証メールが届かない方はこちら", new_supplier_confirmation_path %></p>

    </div>
  </div>
</div>
