<% if model.errors.any? %>
  <div class="form_alert">
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li class="error_message_item"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
