<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello! <%= @invited_user_email %></h1>
      <p>
      <%= @invite_user.username %> send invitation for trima.com!
    </p>
    <p>
      Please Sign Up from here → <%= @url %>
    </p>
    <p>Best Regards</p>
  </body>
</html>
