<span>こんにちは <%= @email %>様</span><br />
<span>trima運営事務局です。</span><br /><br />
<% if @resource.try(:unconfirmed_email?) %>
  <p>お客様のアドレスが変更されましたのでお知らせいたします。</p>
  <p>変更後のアドレス： <%= @resource.unconfirmed_email %></p>
<% else %>
  <p>お客様のアドレスが変更されましたのでお知らせいたします。</p>
  <p>変更後のアドレス： <%= @resource.email %></p>
<% end %>
<br /><br /><br />
<span>****************************</span><br />
<span>trima運営事務局</span>
<span>運営企業：シーダースコミュニケーションズ株式会社</span>
